{% extends 'back/components/list.html' %}
{% load static %}
{% block head_list %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->
{% endblock %}

{% block columns %}
<tr class="text-center table-header">
    <th class="text-left pl-3">N°</th>
    <th class="text-center hidden-t">Municipio</th>
    <th class="text-left hidden-t">Fecha</th>
    <th class="text-center hidden-t">Calidad del Aire</th>
    <th class="actions">Acciones</th>
</tr>
{% endblock %}


{% block rows %}
{% for e in object_list %}
<tr class="text-center table-body mt-2">
    <th class="text-left pl-3">{{e.id}}</th>
    <th class="text-center hidden-t">{{e.destino}}</th>
    <th class="text-left hidden-t">{{e.fecha}}</th>
    <th class="text-center hidden-t">{{e.calidad_del_aire}}</th>
    <th class="actions-container">
        <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="location.href='{% url 'dashboard:calidad_aire_update' e.id %}'">
            <i class="far fa-eye"></i>
        </button>
        <form method="post" action="{% url 'dashboard:calidad_aire_delete' e.id %}" >
            {% csrf_token %}
            <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="return confirm('¿Está seguro de que desea eliminar la informacion?');">
                <i class="fas fa-trash"></i>
            </button>
        </form>
    </th>
</tr>
{% endfor %}
{% endblock %}
