{% extends 'back/list.html' %}

{% load static %}


{% block head_list %}
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">id</th>
        <th scope="col" style="width: 20%;">Sitio Web</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for place in object_list %}
        <tr>
            <th>{{ place.id }}</th>
            <th>{{place.sitio_web}}</th>
            <th>
                <a href="{% url 'dashboard:place_update' place.id %}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="text">Editar</span>
                </a>
                <form method="post" action="{% url 'dashboard:place_delete' place.id %}" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-icon-split" onclick="return confirm('¿Está seguro de que desea eliminar la informacion?');">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Eliminar</span>
                    </button>
                </form>
            </th>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'admin/sitios-interes/list.js' %}"></script> -->

{% endblock %}