{% extends 'back/index.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'librerias/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet"
    href="{% static 'librerias/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}" />

    <script src="{% static 'librerias/sweetalert2-11.7.1/sweetalert2.all.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="{% static 'admin/js/functions.js' %}"></script>



<!-- head_list -->
{% block head_list %}

{% endblock %}


{% endblock %}


{% block content %}
<!-- DataTales Example -->
<div class="col-12 p-0">
    <div class="row p-3">
        <div class="col-12">
            <div class="big-card">

                <div class="table-responsive">
                    <table class="table t" id="dataTable">
                        <thead>
                            {% block columns %}

                            {% endblock %}
                        </thead>
                        <tbody>
                            {% block rows %}

                            {% endblock %}
                        </tbody>
                    </table>
                    <div class="mt-5 d-flex justify-content-start">

                        {% if is_category %}


                        <a id="botonMas" href="{% url 'dashboard:centrodocumental' %}" style="text-decoration: none;">
                            <div style="
                        background-color: #0CAB7B;
                        width: 370px;
                        height: 47px;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        border-radius: 5px;
                    ">
                                <li class="fas fa-chevron-left">
                                </li>
                                <p style="cursor: pointer; color: #fff; 
                            font-family: avenir;
                            font-weight: bold; font-size: 15px; margin: 0; padding: 20px; text-align: center;">
                                    Regresar a la Lista </p>
                            </div>
                        </a>

                        {% else %}
                        <div style="display: flex; gap: 1rem;">
                            <!-- <a id="botonMas" href="{{ create_url }}" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Nuevo Registro</span>
                            </a> -->

                            {% if is_fuente %}
                            <button type="button" class="btn btn-outline-primary"
                                onclick="location.href='{{ carga_masiva_url }}'">
                                <span class="icon text-blue-50">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="text">Carga Masiva</span>
                            </button>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block footerjs %}

<script src="{% static 'librerias/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'librerias/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
<script
    src="{% static 'librerias/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
<script
    src="{% static 'librerias/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
    $(document).on('click', '.delete-r', function(event) {
        event.preventDefault(); // Prevenir la acción predeterminada del botón

        var form = $(this).closest('form'); // El formulario en el que se hizo clic
        var url = form.attr('action');
        var title = 'Confirmar eliminación';
        var content = '¿Está seguro de que desea eliminar la información?';
        var parameters = new FormData(form[0]);
        console.log(parameters);

        submit_with_ajaxV2(url, title, content, parameters, function(data) {
            console.log('Función de devolución de llamada después de eliminar correctamente:', data);
            // Coloca aquí tu lógica de devolución de llamada en caso de éxito
            // Por ejemplo, puedes recargar la lista de elementos después de eliminar uno.
            Swal.fire({
                title: 'Notificación',
                text: 'Se eliminó el registro de forma correcta',
                icon: 'success',
                timer: 5000,
                onClose: () => {
                    window.location.reload();
                }
            }).then((result) => {
                            window.location.reload();
                        });;
        });
    });
</script>

{% endblock %}