{% load static %}
<div class=" main-container sidebar2 side">

    <section>
        <div>
            <div class="icon-containers">
                <div>
                    <!-- <img src="https://picsum.photos/id/48/800/400" class="isotipo"> -->
                </div>
                <!-- <i class="fab fa-joomla"></i> -->
            </div>
        </div>

        <div class="icon-containers" role="button" tooltip="Crear Requisición" flow="right">
            <div>
                <img src="{% static 'images/icons/plus.png' %}" class="icons">
            </div>
            <!-- <i class="fas fa-plus-circle icon-plus"></i> -->
        </div>
        <div>
            <div class="icon-containers">
                <div>
                    <img src="{% static 'images/icons/plus.png' %}" class="icons">
                </div>
                <!-- <i class="fas fa-truck"></i> -->
            </div>
        </div>



    </section>

    <section style="bottom: 0px; position: absolute;">


        <div class="icon-containers">
            <div role="button" tooltip="Mi perfil" flow="right"
                [routerLink]="['/pages/colaboradores/profile']">
                <img src="{% static 'images/icons/user.png' %}" class="icons">
            </div>
            <!-- <i class="fas fa-user"></i> -->
        </div>
        <div class="icon-containers" (click)="logaout()">
            <div role="button" tooltip="Cerrar sesión" flow="right">
                <img src="{% static 'images/icons/lock.png' %}" class="icons">
                <!-- <i class="fas fa-lock"></i> -->
            </div>
        </div>
    </section>
</div>