{% load static %}
<div class="sidebar ">
    <div class="logo-details">
        <img style="width: 45%;" src='{% static "img/OTEG_Logo.png" %}' />
    </div>
    <ul class="nav-links">
        <li>
            <div class="icon-link">
                <a href="#">
                    <img src="{% static 'images/icons/grafica.png' %}" class="icons-list">
                    <!-- <i class='bx bx-line-chart'></i> -->
                    <span class="link_name ">Estadísticas</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Estadísticas</a></li>
                <li><a href="{%url 'dashboard:fuente_informacion'  %}">Fuentes de información</a></li>
                <li><a href="{%url 'dashboard:modulo_reportes'  %}">Reportes</a></li>

                
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <img src="{% static 'images/icons/carpetas.png' %}" class="icons-list">
                    <!-- <i class='bx bx-book-alt'></i> -->
                    <span class="link_name">CEDOC</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Posts</a></li>
                <li><a href="{%url 'dashboard:centrodocumental'  %}">CEDOC</a></li>
                <li><a href="{%url 'dashboard:publicacion_list'  %}">Publicaciones</a></li>
                <li><a href="{%url 'dashboard:barometro_list'  %}">Barometro</a></li>
                <li><a href="{%url 'dashboard:descargas_list'  %}">Descargar</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <img src="{% static 'images/icons/periodico.png' %}" class="icons-list">
                    <!-- <i class='bx bx-book-alt'></i> -->
                    <span class="link_name">Contenido</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Posts</a></li>
                <li><a href="{%url 'dashboard:banner_list'  %}">Banners</a></li>
                <li><a href="{%url 'dashboard:noticias_list'  %}">Noticias</a></li>
                <li><a href="{%url 'dashboard:eventos_list'  %}">Eventos</a></li>
            </ul>
        </li>
        <li>
            <a href="{%url 'usuarios-list'  %}">
                <img src="{% static 'images/icons/icon-users.png' %}" class="icons-list">
                <!-- <i class='bx bx-line-chart'></i> -->
                <span class="link_name">Colaboradores</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{%url 'usuarios-list'  %}">Colaboradores</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <img src="{% static 'images/icons/link.png' %}" class="icons-list">
                    <!-- <i class='bx bx-book-alt'></i> -->
                    <span class="link_name">Otros</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Posts</a></li>
                <li><a href="{%url 'dashboard:glosario_list'  %}">Glosario</a></li>
                <li><a href="{%url 'dashboard:place_list'  %}">Sitios de interés</a></li>
            </ul>
        </li>

        <li>
            <a href="{%url 'dashboard:configuracion'  %}">
                <img src="{% static 'images/icons/icon-produccion.png' %}" class="icons-list">
                <!-- <i class='bx bx-line-chart'></i> -->
                <span class="link_name">Config</span>
            </a>
        </li>
    </ul>
</div>