{% extends 'back/index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="card shadow mb-4">
    <form method="post" enctype="multipart/form-data">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
        </div>
        <div class="card-body">
            {{section}}
            {{category}}
            {% csrf_token %}

            <div class="form-group">
                <label for="id_section">Section:</label>
                <select class="form-control" id="id_section" name="section">
                    <option value="">---------</option>
                    {% for section in sections %}
                    <option value="{{ section.id }}">{{ section.seccion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="id_category">Category:</label>
                <select class="form-control" id="id_category" name="category">
                </select>
            </div>
            {{ form.as_p }}

        </div>
        <div class="card-footer">

            <button type="submit" class="btn btn-primary ">
                <i class="fas fa-save"></i> Guardar
            </button>

            <div id="baker" class="btn btn-danger ">
                <i class="fas fa-times"></i> Cancelar
            </div>
        </div>
    </form>


</div>

{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function () {
        // Get the value of the pk passed to the context data
        var section = "{{ section }}";
        var category = "{{ category }}";
        // Set the selected value of the select field
        $("#id_section").val(section);

        // Attach a change event handler to the section select field
        var sectionId = {{ section }};
        console.log(sectionId);
        if (sectionId) {
            $.ajax({
                url: '{% url "dashboard:get_categories" %}',
                data: {
                    'section_id': sectionId
                },
                success: function (data) {
                    console.log(data);
                    $('#id_category').empty();
                    $('#id_category').append('<option value="">---------</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#id_category').append('<option value="' + data[i].key + '">' + data[i].value + '</option>');
                    }
                    $("#id_category").val(category);
                }
            });

        } else {
            $('#id_category').empty();
            $('#id_category').append('<option value="">---------</option>');
        }

    });
</script>


<script type="application/javascript">
    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            var selected_section = $('#id_section').val();
            var selected_category = $('#id_category').val();
            parameters.append('section', selected_section);
            parameters.append('category', selected_category);

            if (selected_section == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Debe seleccionar una sección'
                });
                return false;
            }

            if (selected_category == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Debe seleccionar una categoría'
                });
                return false;
            }


            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                processData: false,
                contentType: false,
                dataType: 'json'
            }).done(function (data) {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Buen trabajo!',
                        text: 'Operación exitosa.',
                        timer: 2000,
                        showConfirmButton: false
                    }).then(function () {
                        window.location.href = '{{ list_url }}';
                    });
                } else {
                    var errors = '';
                    for (var field in data.errors) {
                        errors += data.errors[field].join('\n');
                    }
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: errors
                    });
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        });
    });

    $('#baker').on('click', function (e) {
        e.preventDefault();
        if (confirm('¿Está seguro de cancelar la operación?...los datos no guardados se perderán')) {
            window.location.href = '{{ list_url }}';
        } else {
            return false;
        }
    });
</script>


<script>
    $(document).ready(function () {
        $('#id_section').change(function () {
            var sectionId = $(this).val();
            console.log(sectionId);
            if (sectionId) {
                $.ajax({
                    url: '{% url "dashboard:get_categories" %}',
                    data: {
                        'section_id': Number(sectionId)
                    },
                    success: function (data) {
                        console.log(data);
                        $('#id_category').empty();
                        $('#id_category').append('<option value="">---------</option>');


                        for (var i = 0; i < data.length; i++) {
                            $('#id_category').append('<option value="' + data[i].key + '">' + data[i].value + '</option>');
                        }
                    }
                });

            } else {
                $('#id_category').empty();
                $('#id_category').append('<option value="">---------</option>');
            }
        });
    });
</script>
{% endblock %}