
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% include 'web/header.html' %}

<div class="container">
    <h1 class="text-center mt-5">SITIOS DE INTERÉS</h1>

    <p class=" text-center"> Una y otra vez, México te sorprenderá con nuevas experiencias: un sabor distinto, 
        una aventura única o un rincón que ha aguardado por siglos para cautivarte. ¡Lo que te falta por conocer!
    </p>
    <div class="row ">
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/RET.png' %}'></a>
        </div>

        <div class="col text-center mt-5">
            <a href="https://www.gob.mx/sectur"> <img style="max-width: 150px;" src='{% static 'assets/images/sectur.png' %}'></a>
        </div>
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/RET.png' %}'></a>
        </div>
        
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/RET.png' %}'></a>
        </div>
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/RET.png' %}'></a>
        </div>
    </div>
    <div class="row ">
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/RET.png' %}'></a>
        </div>
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/RET.png' %}'></a>
        </div>
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/sectur.png' %}'></a>
        </div>
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/RET.png' %}'></a>
        </div>
        <div class="col text-center mt-5">
            <a href="https://sectur.guanajuato.gob.mx/registro-estatal-de-turismo/"> <img style="max-width: 150px;" src='{% static 'assets/images/RET.png' %}'></a>
        </div>
    </div>


</div>



{% include 'web/components/footer/footer.html' %}