{% extends 'back/components/list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
<tr class="text-center table-header">
    <th class="text-left">ID</th>
    <th class="text-left">Fecha</th>
    <th class="text-left">vuelos</th>
    <th class="text-left">Pasajeros en el aeropuerto de Guanajuato</th>
    <th class="text-left">Pasajeros nacionales</th>
    <th class="text-left">Pasajeros internacionales</th>
    <th class="text-center" style="
            position: relative;
            background-color: #ECF0F1;
            text-align: center;
            height: 100%;
        ">Acciones</th>
</tr>
{% endblock %}

{% block rows %} 
{% for e in object_list %}
<tr>
    <th class="text-left tb-text">{{e.id}}</th>
    <th class="text-left tb-text">{{e.fecha}}</th>
    <th class="text-left tb-text">{{e.vuelos}}</th>
    <th class="text-left tb-text">{{e.pasajeros_aeropuerto_gto}}</th>
    <th class="text-left tb-text">{{e.pasajeros_nacionales}}</th>
    <th class="text-left tb-text">{{e.pasajeros_internacionales}}</th>
    <th class="text-left actions-column tb-text" style="
    position: relative;
    background-color: #ECF0F1;
    text-align: center;
    height: 100%;
    ">
        <div class="icon-container2">
            <form method="post" action="{% url 'dashboard:fuente_info_aeropuertos_delete' e.id %}">
                {% csrf_token %}
                <button type="submit" class="ml-1 mr-1 actions-btn delete-r">

                    <i class="fas fa-trash"></i>
                    
                </button>
            </form> 

            <form method="get" action="{% url 'dashboard:fuente_info_aeropuertos_update' e.id %}">
                {% csrf_token %}
                <button type="submit" class="ml-1 mr-1 actions-btn">

                    <i class="fas fa-pencil-alt"></i>


                </button>
            </form>
        </div>

    </th>
</tr>
{% endfor %}
{% endblock %}
