{% load static %}

<!-- CSS for the modal -->
<style>
    /* Center the modal on the screen */
    #myModal {
        display: none;
        /* Hide the modal by default */
        position: fixed;
        /* Stay in place */
        z-index: 10000;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black background with opacity */
    }

    /* Style the modal content */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* Style the close button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .custom-search-g {

        width: 80%;
        height: 40px;
        border-radius: 20px;
        border: none;
        padding-left: 20px;
        margin-right: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: #000;

    }

    .custom-search-g:focus {
        border-color: #ED4C02;
        outline: #ED4C02;
    }

    .letter-btn {
        min-height: 50px;
        min-width: 50px;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border-color: #ED4C02;
        border: solid 1px #ED4C02;
        margin-bottom: 10px;
        color: #ED4C02;

        font-size: 20px;
        font-weight: 300;
        transition: transform 0.3s ease;
    }

    .letter-btn:hover {
        background-image: linear-gradient(140.57deg, #ED4C02 0%, #FB8A55 100%);
        color: #fff;

        cursor: pointer;
        transform: scale(1.1);
    }

    .colapse-btn {
        width: 100%;
        background-color: #ED4C02;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }

    
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .nav-text:hover {
            color: #ED4C02 !important;
            cursor: pointer;
            transform: scale(1);
        }

    }
    
    /* Mobile Styles - Screens with width up to 767px */
    @media screen and (max-width: 767px) {
        .nav-text:hover {
            color: #ED4C02 !important;
            cursor: pointer;
            transform: scale(1);
        }

    }

    /* PC Styles - Screens with width above 1024px */
    @media screen and (min-width: 1025px) {
        .nav-text:hover {
            color: #ED4C02 !important;
            cursor: pointer;
            transform: scale(1.2);
        }

    }
</style>

<section>
    <h3 style="
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    line-height: 58px;
    font-weight: 600;
    margin-left: 20px;
    text-align: left; ">Glosario</h3>

    <form id="search-form-words" style="
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        " role="search">
        <input type="text" class="custom-search-g" me-2" name="w" placeholder="Buscar por Nombre ">
        <button type="submit" class="url-custom-btn">Buscar</button>
    </form>

    <button class="letter-btn " id="button1"> A</button>
    <button class="letter-btn " id="button2"> B</button>
    <button class="letter-btn " id="button3"> C</button>
    <button class="letter-btn " id="button4"> D</button>
    <button class="letter-btn " id="button5"> E</button>
    <button class="letter-btn " id="button6"> F</button>
    <button class="letter-btn " id="button7"> G</button>
    <button class="letter-btn " id="button8"> H</button>
    <button class="letter-btn " id="button9"> I</button>
    <button class="letter-btn " id="button10"> J</button>
    <button class="letter-btn " id="button11"> K</button>
    <button class="letter-btn " id="button12"> L</button>
    <button class="letter-btn " id="button13"> M</button>
    <button class="letter-btn " id="button14"> N</button>
    <button class="letter-btn " id="button15"> Ñ</button>
    <button class="letter-btn " id="button16"> O</button>
    <button class="letter-btn " id="button17"> P</button>
    <button class="letter-btn " id="button18"> Q</button>
    <button class="letter-btn " id="button19"> R</button>
    <button class="letter-btn " id="button20"> S</button>
    <button class="letter-btn " id="button21"> T</button>
    <button class="letter-btn " id="button22"> U</button>
    <button class="letter-btn " id="button23"> V</button>
    <button class="letter-btn " id="button24"> W</button>
    <button class="letter-btn " id="button25"> X</button>
    <button class="letter-btn " id="button26"> Y</button>
    <button class="letter-btn " id="button27"> Z</button>
   

    <div id="myModal" class="modal">

        
        <div id='modal-content' class="modal-content">
            <span class="close">&times;</span>
 
            <p>Modal content goes here...</p>
        </div>
    </div>

</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var modal = document.getElementById('myModal');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                $(modal).hide();
            }
        }

        $('.close').click(function () {
            $('#myModal').hide();
        });


        $('#open-modal').click(function () {
            $('#myModal').show();
        });

        $('.close').click(function () {
            $('#myModal').hide();
        });

    });
    // Open the modal when the button is clicked
    for (var i = 1; i <= 27; i++) {
        $('#button' + i).on('click', function () {
            // Set the URL of the Django view to call based on the button clicked
            var w;

            if ($(this).attr('id') === 'button1') {
                w = 'a';
            }
            else if ($(this).attr('id') === 'button2') {
                w = 'b';
            }
            else if ($(this).attr('id') === 'button3') {
                w = 'c';
            } else if ($(this).attr('id') === 'button4') {
                w = 'd';
            } else if ($(this).attr('id') === 'button5') {
                w = 'e';
            } else if ($(this).attr('id') === 'button6') {
                w = 'f';
            } else if ($(this).attr('id') === 'button7') {
                w = 'g';
            } else if ($(this).attr('id') === 'button8') {
                w = 'h';
            } else if ($(this).attr('id') === 'button9') {
                w = 'i';
            } else if ($(this).attr('id') === 'button10') {
                w = 'j';
            } else if ($(this).attr('id') === 'button11') {
                w = 'k';
            } else if ($(this).attr('id') === 'button12') {
                w = 'l';
            } else if ($(this).attr('id') === 'button13') {
                w = 'm';
            } else if ($(this).attr('id') === 'button14') {
                w = 'n';
            } else if ($(this).attr('id') === 'button15') {
                w = 'ñ';
            } else if ($(this).attr('id') === 'button16') {
                w = 'o';
            } else if ($(this).attr('id') === 'button17') {
                w = 'p';
            } else if ($(this).attr('id') === 'button18') {
                w = 'q';
            } else if ($(this).attr('id') === 'button19') {
                w = 'r';
            } else if ($(this).attr('id') === 'button20') {
                w = 's';
            } else if ($(this).attr('id') === 'button21') {
                w = 't';
            } else if ($(this).attr('id') === 'button22') {
                w = 'u';
            } else if ($(this).attr('id') === 'button23') {
                w = 'v';
            } else if ($(this).attr('id') === 'button24') {
                w = 'w';
            } else if ($(this).attr('id') === 'button25') {
                w = 'x';
            } else if ($(this).attr('id') === 'button26') {
                w = 'y';
            } else if ($(this).attr('id') === 'button27') {
                w = 'z';
            }


            // Make an AJAX request to the Django view
            $.ajax({
                url: '{% url "search_words" %}',
                data: {
                    'w': w
                },
                success: function (data) {
                    // Update the modal content with the data returned from the server

                    var html = '';

                    if (data.length > 0) {
                        html+= ' <p style=" color: #333333;font-family: Montserrat; font-size: 18px;" >Presiona en el menú desplegable para encontrar las definiciones.</p>';
                        for (var i = 0; i < data.length; i++) {
                            html += '<button  class="colapse-btn" data-toggle="collapse" data-target="#demo' + i + '">' + data[i].palabra + '</button>';
                            // Wrap the definicion element in a collapse div with id matching the data-target attribute
                            html += '<div class="collapse" id="demo' + i + '">  <div class="accordion-body"> '
                                + data[i].definicion + '</div></div>';
                        }
                    }
                    else {
                        html += '<p style=" color: #333333;font-family: Montserrat; font-size: 18px;" >No hay palabras</p>';
                    }

                    $('#modal-content').html(html);
                    $('#myModal').show();
                },
                error: function (xhr, status, error) {
                    // Handle any errors that occur during the AJAX request
                    console.log(xhr.responseText);
                }
            });
        });
    }

    $('#search-form-words').on('submit', function (event) {
        event.preventDefault();
        var word = $(this).find('input[name="w"]').val();
        $.ajax({
            url: '{% url "search_words" %}',
            data: {
                'w': '',
                'word': word
            },
            success: function (data) {
                // Update the modal content with the data returned from the server
                var html = '';

                if (data.length > 0) {
                    html+= ' <p style=" color: #333333;font-family: Montserrat; font-size: 18px;" >Presiona en el menú desplegable para encontrar las definiciones.</p>';
                    for (var i = 0; i < data.length; i++) {
                        
                        html += '<button  class="colapse-btn" data-toggle="collapse" data-target="#demo' + i + '">' + data[i].palabra + '</button>';
                        // Wrap the definicion element in a collapse div with id matching the data-target attribute
                        html += '<div class="collapse" id="demo' + i + '">  <div class="accordion-body"> '
                            + data[i].definicion + '</div></div>';
                    }
                }
                else {
                    html += '<p style=" color: #333333;font-family: Montserrat; font-size: 18px;" >No hay palabras.</p>';
                }

                $('#modal-content').html(html);
                $('#myModal').show();

            },
            error: function (xhr, status, error) {
                // Handle any errors that occur during the AJAX request
                console.log(xhr.responseText);
            }
        });
    });


</script>