{% extends 'back/index.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'librerias/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet"
    href="{% static 'librerias/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}" />

<!-- head_list -->
{% block head_list %}

{% endblock %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
        <div class="row p-3 pl-1 container-cards">
            <div class="col-lg-4 col-md-12 mb-3">
                <div class="small-cards card-white">
                    <div class="row ml-0 mr-0" style="height: 100%; width: 100%;">
                        <div class="col-lg-1 col-md-1 pl-0 pr-0 d-none d-sm-none d-md-block card-blue"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center justify-content-center align-self-center">
                            <span class="card-text-black">
                                Total de<br>FUENTES
                            </span>
                            <h3 class="card-text-black-num">4</h3>
                        </div>
                        <div
                            class="col-lg-4 col-md-5 col-sm-5 d-none d-sm-none d-md-block text-center content-icon-card justify-content-center align-self-center">
                            <img src="{% static 'images/fuentes_informacion/database-azul.png' %}" alt=""
                                class="icon-card">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-3">
                <div class="small-cards card-white">
                    <div class="row ml-0 mr-0" style="height: 100%; width: 100%;">
                        <div class="col-lg-1 col-md-1 pl-0 pr-0 d-none d-sm-none d-md-block card-red"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center justify-content-center align-self-center">
                            <span class="card-text-black">
                                Total de<br>FUENTES por actualizar
                            </span>
                            <h3 class="card-text-black-num">4</h3>
                        </div>
                        <div
                            class="col-lg-4 col-md-5 col-sm-5 d-none d-sm-none d-md-block text-center content-icon-card justify-content-center align-self-center">
                            <img src="{% static 'images/fuentes_informacion/info-verde.png' %}" alt=""
                                class="icon-card-i">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="small-cards card-white">
                    <div class="row ml-0 mr-0" style="height: 100%; width: 100%;">
                        <div class="col-lg-1 col-md-1 pl-0 pr-0 d-none d-sm-none d-md-block card-green"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center justify-content-center align-self-center">
                            <span class="card-text-black">
                                Total de<br>FUENTES actualizadas
                            </span>
                            <h3 class="card-text-black-num">4</h3>
                        </div>
                        <div
                            class="col-lg-4 col-md-5 col-sm-5 d-none d-sm-none d-md-block text-center content-icon-card justify-content-center align-self-center">
                            <img src="{% static 'images/fuentes_informacion/database-verde.png' %}" alt=""
                                class="icon-card">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DataTales Example -->
<div class="col-12 p-0">
    <div class="row p-3">
        <div class="col-12">
            <div class="big-card">


                <div class="table-responsive">
                    <table class="table t" id="dataTable">
                        <thead>
                            <tr class="text-center table-header">
                                <th class="text-left pl-3">Clave</th>
                                <th class="text-left pl-3">Fuente de información</th>
                                <th class="text-left pl-3">Total de registros</th>
                                <th class="text-left pl-3">Última actualización</th>
                                <th class="text-left pl-3">Periodo de actualización</th>
                                <th class="text-left pl-3">Estatus</th>
                                <th class="actions">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="tr-space"></tr> -->
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Hoteles nacionales</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:inventario_hotelero_ent_nac_list' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Hoteles GTO</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:inventario_hotelero_list' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Inversión publica</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:inversion_publica_list' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Aire</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:calidad_aire_list' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Sensibilización</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_sensibilizacion' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Proyectos privados</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:proyectos_inversion_list' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Certificación</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_certificacion' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Inversion privada</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_inversion_privada' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Datatur</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_datatour' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>


                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Empleo</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_empleo' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Zonas ARQ</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_zonas_arqueologicas' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Modelo GD</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_modelo_gd' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>


                            
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Discapacidad</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_discapacidad' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Otros</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_otros_anuales' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Airbnb</td>
                            
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_airbnb' %}'">
                                    
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">% Segmentos</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_segmentos' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">% Origen</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_origen' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Aeropuertos</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_aeropuertos' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>

                            
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Aerolíneas</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_aerolineas' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="text-center table-body mt-2">
                                <td class="text-left pl-3">Sin clave</td>
                                <td class="text-left pl-3">Nacional</td>
                                <td class="text-left pl-3">200</td>
                                <td class="text-left pl-3">dd/mm/aaaa hh:mm</td>
                                <td class="text-left pl-3">Mensual</td>
                                <td class="text-center pl-3">Estatus</td>
                                <td class="actions-container">
                                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down"
                                        onclick="location.href='{% url 'dashboard:fuente_info_inventario_turistico' %}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block footerjs %}

<script src="{% static 'librerias/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'librerias/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
<script
    src="{% static 'librerias/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
<script
    src="{% static 'librerias/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>


{% endblock %}