DEBUG=False
SECRET_KEY=

DB_NAME=dbname
DB_USER=user
DB_PASSWORD=superpass
DB_HOST=hostname

DB_NAME_FUENTES_INFO=dbname
DB_USER_FUENTES_INFO=user
DB_PASSWORD_FUENTES_INFO=superpass
DB_HOST_FUENTES_INFO=hostname

MAIL_USERNAME=correo@gmail.com
MAIL_PASSWORD=superpass

AWS_ACCESS_KEY_ID = XXXXXXXXX
AWS_SECRET_ACCESS_KEY = XXXXXXXXX/hZh2
AWS_BUCKET = XXXXXXXXX
AWS_DEFAULT_REGION = XXXXXXXXX