DEBUG=True
SECRET_KEY=XXXXXXX

DB_NAME=XXXXXXXXX
DB_USER=XXXXXXXXX
DB_PASSWORD=XXXXXXXXX
DB_HOST=XXXXXXXXX

DB_NAME_FUENTES_INFO=XXXXXXXXX
DB_USER_FUENTES_INFO=XXXXXXXXX
DB_PASSWORD_FUENTES_INFO=XXXXXXXXX
DB_HOST_FUENTES_INFO=XXXXXXXXX

MAIL_USERNAME=XXXXXXXXX
MAIL_PASSWORD=XXXXXXXXX

AWS_ACCESS_KEY_ID=XXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXX/hZh2
AWS_BUCKET=XXXXXXXXX
AWS_DEFAULT_REGION=XXXXXXXXX
