{% extends 'back/components/list.html' %}
{% load static %}
{% block head_list %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->
{% endblock %}

{% block columns %}
<tr class="text-center table-header">
    <th scope="col" style="width: 10%;">ID</th>
    <th scope="col" style="width: 20%;">Seccion </th>
    <th scope="col" style="width: 10%;">Acciones</th>

    {% endblock %}

    {% block rows %}
    {% for e in object_list %}

<tr class="table-body">
    <th class="text-left tb-text">{{e.id}}</th>
    <th class="text-left tb-text">{{e.seccion }}</th>
    <th class="text-left actions-column tb-text" style="
    position: relative;
    background-color: #ECF0F1;
    text-align: center;
    height: 100%;
    ">
        <div class="icon-container2">
            <form method="get" action="{% url 'dashboard:categorias_list' e.id %}">
                {% csrf_token %}
                <button type="submit" class="ml-1 mr-1 actions-btn">
                    <i class="fa fa-plus"></i>
                </button>
            </form>

            <form method="post" action="{% url 'dashboard:CEDC_delete' e.id %}">
                {% csrf_token %}
                <button type="submit" class="ml-1 mr-1 actions-btn"
                    onclick="return confirm('¿Está seguro de que desea eliminar la informacion?');">

                    <i class="fas fa-trash"></i>
                </button>
            </form>


            <form method="get" action="{% url 'dashboard:CEDC_update' e.id %}">
                {% csrf_token %}
                <button type="submit" class="ml-1 mr-1 actions-btn">

                    <i class="fas fa-pencil-alt"></i>
                </button>
            </form>
        </div>

    </th>
</tr>
{% endfor %}
{% endblock %}