{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% include 'web/components/navbar/navbar.html' %}
<div class="container">
    <h1 class="text-centermt-5">PROTOCOLO ALBA</h1>
    <h5 class="text-muted mt-3">¿Qué es el Protocolo ALBA?</h5>
    <p class="text-muted">El Protocolo Alba es un proceso para la atención, reacción y coordinación entre los tres
        niveles de administración cuando existe el extravío de mujeres y niñas. Inicialmente implementado en Ciudad
        Juárez y posteriormente en otros estados del territorio mexicano</p>
        <a class="nav-link" href="{% url 'pdf_protocolo_alba' %}"> <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-file-pdf"></i> Ver PDF</button></a>
</div>


{% include 'web/components/footer/footer.html' %}