{% extends 'back/index.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  var datos = {{ descargar_url|safe }};
  console.log(datos|| 0)
  function descargarArchivo() {
    const csrftoken = getCookie('csrftoken');
    let registros = {{ descargar_url|safe }};

    axios.post('{% url 'dashboard:descargar_archivo' %}', JSON.stringify(registros), {
      headers: {
        'X-CSRFToken': csrftoken,
        'Content-Type': 'application/json',
      },
      responseType: 'blob',
    }).then((response) => {
      // Crear un enlace de descarga con la respuesta del servidor
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', 'registros_incorrectos.xlsx');
      document.body.appendChild(link);
      link.click();
    }).catch((error) => {
      console.log('Error:', error);
    });
  }


</script>
<h1>Carga masiva</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Cargar archivo</button>
    <a href="{% url 'dashboard:inventario_hotelero_list' %}" class="btn btn-outline-danger">Cancelar</a>
</form>


{% if errores %}
<div class="alert alert-danger mt-3">
    <ul>
        {% for error in errores %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if registros_incorrectos %}
      <div class="alert alert-danger mt-3">
        <h4>Existen {{registros_incorrectos|length}} filas con errores de un total de {{num_filas_procesadas}} filas</h4>

        <button id="descargar-btn" onclick="descargarArchivo()" class="btn btn-danger">Descargar archivo de errores</button>
      </div>
    {% endif %}

    {% if registros_correctos %}
      <div class="alert alert-success mt-3">
        <h4>Se han guardado {{registros_correctos|length}} filas de un total de {{num_filas_procesadas}} filas</h4>
      </div>
    {% endif %}
{% if registros_existentes %}
<div class="alert alert-warning mt-3">
  <h4>Ya existen {{registros_existentes|length}} registros de un total de {{num_filas_procesadas}} filas en la base de datos y no se han guardado</h4>
    
</div>
{% endif %}
{% endblock %}