<li>
    <a href="{% url 'dashboard:addseccion' %}">Añadir Seccion </a>
</li>

{% for seccion in secciones %}
<h2>{{ seccion.seccion }}</h2>
<p>{{ seccion.descripcion }}</p>
<p>{{ seccion.observacion }}</p>
<h3>Categorías:</h3>
<ul>
    {% for categoria in seccion.categorias_set.all %}
    <li>{{ categoria.nombre_categoria }}</li>
    <li>{{ categoria.fecha_creacion }}</li>
    <li>{{ categoria.publicacion }}</li>
    <li>{{ categoria.visible }}</li>
    {% endfor %}
</ul>

<form action="{% url 'delete_seccion' seccion.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger"
        onclick="return confirm('¿Está seguro de que desea eliminar esta sección?');">Delete</button>
</form>

<form action="{% url 'edit_seccion' seccion.id %}" method="get">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger"  value="Editar">
</form>


<form action="{% url 'add_categoria' seccion.id %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Añadir Categorías">
</form>

{% endfor %}