{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.min.css' %}">

<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #232f3e;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }



    .custom-nav {
        width: 100%;
        background-color: #232f3e;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .items-container {
        width: 100%;
        padding: .8rem;
    }

    .custom-nav-item {
        color: #fff;
        text-decoration: none;
        padding: .5rem;
    }

    .custom-nav-item:hover {
        text-decoration: none;
        padding: .5rem;
        color: #d47d0b;

    }

    .custom-nav-subsection-contianer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .custom-nav-subsection {
        position: absolute;
        top: 100%;
        background-color: #232f3e;
        height: 20rem;
        width: 90%;
        border-width: 1px;
        border-color: rgb(6, 6, 36);
        border-style: solid;
        z-index: 999;
        display: none;

    }

    .subsection-data {
        display: grid;
        grid-template-columns: 1fr 6fr;
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .subsection-menu {

        border-width: 1px;
        border-color: rgb(6, 6, 36);
        border-style: solid;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 2rem;
    }

    .subsection-submenu {
        border-width: 1px;
        border-color: rgb(6, 6, 36);
        border-style: solid;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        overflow-y: scroll;
        padding: 2rem;
        transition: opacity 0.3s ease-in-out;
        /* Add a transition */
    }

    .hide {
        display: none;
        visibility: hidden;
    }

    .show {
        visibility: visible;
        opacity: 1;
        /* Show the submenu */
    }

    .all-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }




    
</style>

<div class="all-fixed">
    <nav class="custom-nav">
        <div class="items-container">
            <a class="custom-nav-item not-sub"href="{% url 'inicio' %}">Inicio</a>
            <a class="custom-nav-item not-sub" href="#">OTEG</a>
            <a class="custom-nav-item" id="indicadores" href="#">Indicadores</a>
            <a class="custom-nav-item" id="publicaciones" href="#">Publicaciones</a>
            <a class="custom-nav-item not-sub" href="#">Información Turistica</a>
            <a class="custom-nav-item" id="eventos" href="#">Eventos y actividades</a>
            <a class="custom-nav-item not-sub" href="#">Solicitudes</a>
            <a class="custom-nav-item not-sub" href="{% url 'protocolo_alba' %}">Protocolo Alba</a>
            <a class="custom-nav-item not-sub" href="{%url 'barometro-turistico' %}" class="text-reset">Barómetro Turístico</a>
            <a class="custom-nav-item not-sub" href="#">Glosario</a>
            {% if user.is_authenticated %}
            <a class="custom-nav-item not-sub" href="{% url 'dashboard:publicacion_list' %}">Panel Admin</a>
            {% else %}
            <a class="custom-nav-item not-sub" href="{% url 'login_user' %}">Log In</a>
            {% endif %}



            <a class="custom-nav-item not-sub" href="https://www.facebook.com/observatoriotgto/">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            </li>

            <a class="custom-nav-item not-sub" href="https://twitter.com/ObservaTur_GTO">
                <i class="fa-brands fa-square-twitter"></i>
            </a>



            <a class="custom-nav-item not-sub" href="{% url 'sitios_interes' %}">
                <i class="fa-solid fa-globe"></i>
            </a>
            <div id="google_translate_element"></div>

        </div>
    </nav>


    <div class="custom-nav-subsection-contianer">


        <div class="custom-nav-subsection" id="sub-1">
            <div class="subsection-data">

                <div class="subsection-menu">
                    <a class="custom-nav-item" href="#" id="indicadores1">Indicadores</a>
                    <a class="custom-nav-item" href="#" id="indicadores2">Gestión de Destinos</a>
                </div>

                <div class="subsection-submenu sub-menu-1">
                    <a class="custom-nav-item" href="#">Indicadores</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil, nam velit laboriosam, odit
                        nisi libero voluptate officiis cupiditate ab consectetur doloribus esse dolorem. Minima quos
                        necessitatibus nihil beatae sed?</p>
                    <a class="custom-nav-item" href="#">Pacto Centro Occidente</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil, nam velit laboriosam, odit
                        nisi libero voluptate officiis cupiditate ab consectetur doloribus esse dolorem. Minima quos
                        necessitatibus nihil beatae sed?</p>
                    <a class="custom-nav-item" href="#">Nacionales</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                </div>


                <div class="subsection-submenu  sub-menu-2 hide">
                    <a class="custom-nav-item" href="#">Gestión de Destinos</a>
                    <a class="custom-nav-item" href="#">Economía Inclusiva</a>
                    <a class="custom-nav-item" href="#">Sociedad y Cultura</a>
                    <a class="custom-nav-item" href="#">Medio Ambiente</a>
                </div>
            </div>
        </div>


        <div class="custom-nav-subsection" id="sub-2">
            <div class="subsection-data">
                <div class="subsection-menu">
                    <a class="custom-nav-item" href="#">Publicaciones</a>
                </div>
                <div class="subsection-submenu sub-menu-1">

                    <a class="custom-nav-item" href="#">Publicaciones</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil, nam velit laboriosam, odit
                        nisi libero voluptate officiis cupiditate ab consectetur doloribus esse dolorem. Minima quos
                        necessitatibus nihil beatae sed?</p>
                    <a class="custom-nav-item" href="{%url 'perfil_visistante_ciudad' 1 %}">Perfil de Visitante a Ciudad</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil, nam velit laboriosam, odit
                        nisi libero voluptate officiis cupiditate ab consectetur doloribus esse dolorem. Minima quos
                        necessitatibus nihil beatae sed?</p>
                    <a class="custom-nav-item" href="{%url 'perfil_visistante_ciudad' 2 %}">Perfil de Visitante a Evento</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil, nam velit laboriosam, odit
                        nisi libero voluptate officiis cupiditate ab consectetur doloribus esse dolorem. Minima quos
                        necessitatibus nihil beatae sed?</p>
                    <a class="custom-nav-item" href="#">Marco Normativo de Turismo</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Noticias Turísticas</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Sustentabilidad</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Reportes Mensuales</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a href="{%url 'barometro-turistico' %}">Barómetro Turístico</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Ponencias de Eventos</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Revista OTEG</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Ponencias de Eventos</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Segmentos Turísticos</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Inventario Turístico</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                    <a class="custom-nav-item" href="#">Otras Publicaciones</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor nulla quia amet a nihil
                        dolorem commodi, tempora velit, hic consectetur sit, similique omnis praesentium accusamus
                        nesciunt laboriosam. Provident, blanditiis.</p>
                </div>
            </div>
        </div>


        <div class="custom-nav-subsection" id="sub-3">
            <div class="subsection-data">
                <div class="subsection-menu">
                    <a class="custom-nav-item" href="#">Eventos y actividades</a>
                </div>
                <div class="subsection-submenu sub-menu-1">

                    <a class="custom-nav-item" href="#">Internacionales</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil, nam velit laboriosam, odit
                        nisi libero voluptate officiis cupiditate ab consectetur doloribus esse dolorem. Minima quos
                        necessitatibus nihil beatae sed?</p>
                    <a class="custom-nav-item" href="#">Nacionales</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil, nam velit laboriosam, odit
                        nisi libero voluptate officiis cupiditate ab consectetur doloribus esse dolorem. Minima quos
                        necessitatibus nihil beatae sed?</p>
                    <a class="custom-nav-item" href="#">Estatales</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil, nam velit laboriosam, odit
                        nisi libero voluptate officiis cupiditate ab consectetur doloribus esse dolorem. Minima quos
                        necessitatibus nihil beatae sed?</p>
                </div>
            </div>
        </div>



    </div>

</div>


<script>


    const indicadores = document.querySelector('#indicadores');
    const dropdownMenu = document.querySelector('#sub-1');

    //Publicaciones

    const Publicaciones = document.querySelector('#publicaciones');
    const dropdownMenu2 = document.querySelector('#sub-2');



    const Eventos = document.querySelector('#eventos');
    const dropdownMenu3 = document.querySelector('#sub-3');

    const notSub = document.querySelectorAll('.not-sub');


    notSub.forEach((item) => {
        item.addEventListener('mouseenter', () => {
            dropdownMenu.style.display = 'none';
            dropdownMenu2.style.display = 'none';
            dropdownMenu3.style.display = 'none';
        });
    });



    indicadores.addEventListener('mouseenter', () => {
        dropdownMenu2.style.display = 'none';
        dropdownMenu.style.display = 'block';
        dropdownMenu3.style.display = 'none';

    });

    dropdownMenu.addEventListener('mouseleave', (event) => {
        if (!event.relatedTarget.classList.contains('items-container')) {
            dropdownMenu.style.display = 'none';
        }
    });






    const indicadoresLink = document.getElementById("indicadores1");
    const indicadores2Link = document.getElementById("indicadores2");

    const subMenu1 = document.querySelector(".sub-menu-1");
    const subMenu2 = document.querySelector(".sub-menu-2");


    // Add event listeners to show/hide the sub-menus
    indicadoresLink.addEventListener("mouseover", () => {
        subMenu2.classList.remove("show");
        subMenu2.classList.add("hide");
        subMenu1.classList.remove("hide");
        subMenu1.classList.add("show");
    });

    indicadoresLink.addEventListener("mouseout", (event) => {
        console.log(event.relatedTarget);

        if (!event.relatedTarget.classList.contains('subsection-menu') && !event.relatedTarget.classList.contains('subsection-submenu') && !event.relatedTarget.classList.contains('items-container') && !event.relatedTarget.classList.contains('custom-nav-item')) {
            subMenu1.classList.remove("show");
            subMenu1.classList.add("hide");
        }
    });

    indicadores2Link.addEventListener("mouseover", () => {
        subMenu2.classList.remove("hide");
        subMenu2.classList.add("show");
        subMenu1.classList.remove("show");
        subMenu1.classList.add("hide");
    });


    indicadores2Link.addEventListener("mouseout", () => {
        console.log(event.relatedTarget);

        if (!event.relatedTarget.classList.contains('subsection-menu') && !event.relatedTarget.classList.contains('subsection-submenu') && !event.relatedTarget.classList.contains('items-container') && !event.relatedTarget.classList.contains('custom-nav-item')) {
            subMenu2.classList.remove("show");
            subMenu2.classList.add("hide");
        }

    });




    Publicaciones.addEventListener('mouseenter', () => {
        console.log('entro');
        dropdownMenu.style.display = 'none';
        dropdownMenu2.style.display = 'block';
        dropdownMenu3.style.display = 'none';
    });

    dropdownMenu2.addEventListener('mouseleave', (event) => {
        if (!event.relatedTarget.classList.contains('items-container')) {
            dropdownMenu2.style.display = 'none';
        }
    });

    Eventos.addEventListener('mouseenter', () => {
        console.log('entro');
        dropdownMenu.style.display = 'none';
        dropdownMenu2.style.display = 'nones';
        dropdownMenu3.style.display = 'block';
    });

    dropdownMenu3.addEventListener('mouseleave', (event) => {
        if (!event.relatedTarget.classList.contains('items-container')) {
            dropdownMenu3.style.display = 'none';
        }
    });


</script>