{% extends 'back/index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


    <link href="{% static 'scss/custom-inputs.css' %}" rel="stylesheet" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        var $j = jQuery.noConflict();
    </script>




    <script>
        $j(function () {
            $j("#id_destino").autocomplete({
                source: "{% url 'dashboard:search_destinos' %}"
            });
        });
    </script>

    <style>
        @font-face {
            font-family: 'avenir';
            src: url('{% static "fonts/Avenir-Light.woff" %}');
        }
    </style>



</head>



<form method="post" enctype="multipart/form-data">

    <div class=" shadow mb-4" style="
        border-radius: 5px;
    ">
        <div style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    
        ">
            {% csrf_token %}

            <!-- Modify the form rendering loop to add icons to each field -->
            {% for field in form %}

            <div style="
                    width: 100%;
      
                ">
                <label style="
                font-family: avenir;
                font-weight: bold;
                font-size: 15px;
                margin: 0;
                padding: 0;
            " for="{{ field.id_for_label }}">{{ field.label }}</label>

            </div>


            <div class="input-with-icon">
                {{ field }}
                {% if field.errors %}
                <div class="error-message">{{ field.errors }}</div>
                {% endif %}
                {% if field.help_text %}
                <div class="help-text">{{ field.help_text }}</div>
                {% endif %}
                <div class="icon"><i style="
                        margin: 0;
                        padding: 0;
                        color: #fff;
                    " class="{{ field.field.widget.attrs.icon_class }}"></i></div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div style="display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
        gap: 20px;
    ">
        <div id="baker" style="
        cursor: pointer; 
            background-color: #EC9711;
            width: 370px;
            height: 47px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        ">
            <p style="color: #fff; 
                font-family: avenir;
                font-weight: bold; font-size: 15px; margin: 0; padding: 0; text-align: center;">
                Cancelar</p>
        </div>

        <button type="submit" style="
            background-color: #0CAB7B;
            width: 370px;
            height: 47px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 5px;
        ">
            <p style="cursor: pointer; color: #fff; 
                font-family: avenir;
                font-weight: bold; font-size: 15px; margin: 0; padding: 0; text-align: center;">
                Guardar </p>
        </button>
    </div>

</form>




{% endblock %}


{% block javascript %}


<script type="application/javascript">

    $(document).ready(function () {
        $('.card-body .input-with-icon [data-icon-class]').each(function () {
            var iconClass = $(this).data('icon-class');
            var iconElement = $(this).closest('.input-with-icon').find('.icon');
            iconElement.html('<i class="' + iconClass + '"></i>');

            console.log('Element found:', $(this));
        });
    });



    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            var selected_section = $('#id_section').val();


            parameters.append('section', selected_section);

            if (selected_section == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Debe seleccionar un ID de Proyecto'
                });
                return false;
            }

            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                processData: false,
                contentType: false,
                dataType: 'json'
            }).done(function (data) {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Buen trabajo!',
                        text: 'Operación exitosa.',
                        timer: 2000,
                        showConfirmButton: false
                    }).then(function () {
                        window.location.href = '{{ list_url }}';
                    });
                } else {
                    var errors = '';


                    if (data.missingData) {


                        if (data.categoria && data.destino) {
                            var htmdata = 'Los siguientes campos no se encuentran en el catalogo de datos revisa tu escritura: <br> ' + 'Categoria: ' + data.categoria + '<br>' + 'Entidad: ' + data.destino
                        } else if (data.categoria) {
                            var htmdata = 'Los siguientes campos no se encuentran en el catalogo de datos revisa tu escritura: <br> ' + 'Categoria: ' + data.categoria
                        } else if (data.destino) {
                            var htmdata = 'Los siguientes campos no se encuentran en el catalogo de datos revisa tu escritura: <br> ' + 'Entidad: ' + data.destino
                        }

                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            html: htmdata,

                        });
                        return;
                    } else if (data.format_errors) {
                        for (var field in data.errors) {
                            errors += data.errors[field].join('\n');
                        }

                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: errors
                        });
                        return;

                    }

                    var existing_object = data.existing_object;
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        html: existing_object,
                        width: '95%',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Reemplazar el dato actual con el nuevo dato',
                        denyButtonText: `Conservar el dato actual`,
                    }).then((result) => {
                        if (result.isConfirmed) {

                            parameters.append('replace_data', 'on');

                            $.ajax({
                                url: window.location.pathname,
                                type: 'POST',
                                data: parameters,

                                processData: false,
                                contentType: false,
                                dataType: 'json'
                            }).done(function (data) {
                                if (data.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Buen trabajo!',
                                        text: 'Operación exitosa.',
                                        timer: 2000,
                                        showConfirmButton: false
                                    }).then(function () {
                                        window.location.href = '{{ list_url }}';
                                    });
                                } else {
                                    var errors = '';
                                }
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                alert(textStatus + ': ' + errorThrown);
                            }).always(function (data) {

                            });
                        } else if (result.isDenied) {
                            window.location.href = '{{ list_url }}';
                        }
                    })
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        });
    });

    $('#baker').on('click', function (e) {
        e.preventDefault();
        if (confirm('¿Está seguro de cancelar la operación?...los datos no guardados se perderán')) {
            window.location.href = '{{ list_url }}';
        } else {
            return false;
        }
    });

</script>
{% endblock %}