{% extends 'back/components/list.html' %}
{% load static %}

{% block head_list %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->
{% endblock %}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

{% block columns %}
<tr class="text-center table-header">
    <th class="text-left ">ID</th>
    <th class="text-left ">Destino</th>
    <th class="text-left ">Fecha</th>
    <th lass="text-left ">Tipo certificacion</th>
    <th lass="text-left ">Empresas certificadas</th>
    <th lass="text-left ">Acciones</th>
</tr>
{% endblock %}

{% block rows %}
{% for e in object_list %}
<tr class="text-center table-body mt-2">
    <th class="text-left tb-text">{{e.id}}</th>
    <th class="text-left tb-text">{{e.destino}}</th>
    <th class="text-left tb-text">{{e.fecha}}</th>
    <th class="text-left tb-text">{{e.tipo_de_certificacion}}</th>
    <th class="text-left tb-text">{{e.empresas_certificadas}}</th>
    <th class="text-center" style="position: relative; background-color: #ECF0F1; text-align: center; height: 100%;">
        <div class="icon-container">
            <i class="fas fa-pencil-alt" onclick="location.href='{% url 'dashboard:fuente_info_certificacion_update' e.id %}'"></i>

                    <form method="post" action="{% url 'dashboard:fuente_info_certificacion_delete' e.id %}" >
                        {% csrf_token %}
                        
                        <button type="submit" class="ml-1 mr-1 actions-btn delete-r">
                            <i class="fas fa-trash"></i> 
                        </button>
                    </form>
        </div>
    </th>




</tr>
{% endfor %}
{% endblock %}