{% extends 'web/body.html' %}
{% load static %}


<!-- contenido -->
{% block content %}

<div class="row pl-5 pr-5 pt-5 pb-5">
    <div class="col-lg-12 mt-5 text-center">
        <h3>Inventario Turístico</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum laudantium impedit, labore dolores dolorum voluptatibus accusantium debitis voluptas velit ratione molestiae nulla cum, voluptate temporibus aperiam rem dolore est eaque.</p>
    </div>
</div>
  <dic class="row row-cols-1 row-cols-md-1 g-1 mt-3">
    <div class="col">
      <!-- <h3 class="text-center">Indicadores Nacionales</h3> -->
      <iframe width="100%" height="800" src="https://lookerstudio.google.com/embed/reporting/6a49b4bc-7451-4779-95b0-0a44c63360f1/page/0PlPD" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
  
  </dic>


{% endblock %}