{% extends 'back/components/list.html' %}
{% load static %}
{% block head_list %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->
{% endblock %}

{% block columns %}
<tr class="text-center table-header">
    <th class="text-left3">ID</th>
    <th  class="text-left">Nombre PDF</th>
    <th  class="text-left">PDF URL</th>
    <th  class="text-left">No. de Descargas</th>
    <th class="text-center" style="
            position: relative;
            background-color: #ECF0F1;
            text-align: center;
            height: 100%;
        ">Acciones</th>
        </tr>
   
{% endblock %}

{% block rows %}
{% for e in object_list %}
<tr>
    <th class="text-left tb-text">{{e.id}}</th>
    <th  class="text-left tb-text">{{e.nombrePDF}}</th>

    {% if e.doc %}
        <th  class="text-left tb-text">
        <a href="{{e.doc.url}}">{{e.doc}}</a></th>
    {% else %}
        <th  class="text-left tb-text">No hay PDF</th>
    {% endif %}
    <th  class="text-left tb-text">{{e.num_descargas}}</th>

    <th class="text-center" style="position: relative; background-color: #ECF0F1; text-align: center; height: 100%;">
        <div class="icon-container">
            <i class="fas fa-edit" onclick="location.href='{% url 'dashboard:barometro_update' e.id %}'"></i>
                    <form method="post" action="{% url 'dashboard:barometro_delete' e.id %}" >
                        {% csrf_token %}
                        <button type="submit" class="ml-1 mr-1 actions-btn delete-r" id="delete-r">

                            <i class="fas fa-trash"></i>
        
                        </button>
                    </form>
        
        </div>
    </th>
</tr>
{% endfor %}
{% endblock %}
