<h1>Log-In</h1>

<section>

    {% if messages %}
    {% for message in messages %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}



    <form method="post">
        {% csrf_token %}
        <div>
            <label for="usuario">Usuario</label>
            <div>
                <input type="text" name="usuario" placeholder="user1">
            </div>
        </div>
        <div>
            <label for="pwd">Contraseña</label>
            <div>
                <input type="password" name="pwd" id="pwd">
            </div>
        </div>

        <input type="submit" value="Submit" name="username" placeholder="Iniciar sesión" />

    </form>
</section>