{% extends 'back/components/list.html' %}
{% load static %}
{% block head_list %}
{% endblock %}

{% block columns %}
    <tr class="text-center table-header">
        <th class="text-left pl-3">N°</th>
        <th class="text-left pl-3">Username</th>
        <th class="text-left pl-3">Nombre</th>
        <th class="text-left pl-3">Email</th>
        <th class="actions">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for user in object_list %}
    <tr class="text-center table-body mt-2">
        <th class="text-left pl-3">{{ user.id }}</td>
            <td class="text-left pl-3">{{ user.username }}</td>
            <td class="text-left pl-3">{{ user.first_name }} {{ user.last_name }}</td>
            <td class="text-left pl-3">{{ user.email }}</td>
            <th class="actions-container">
                <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="location.href='{% url 'usuarios-perfil-update' user.id  %}'">
                    <i class="far fa-eye"></i>
                </button>
                <form method="post" action="{% url 'delete_user' user.id %}" >
                    {% csrf_token %}
                    
                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="return confirm('¿Está seguro de que desea eliminar la informacion?');">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>

            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascript %}
{% endblock %}
