{% extends 'back/list.html' %}
{% load static %}

{% block head_list %}
{% endblock %}


{% block columns %}

                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Sección</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
{% endblock %}

{% block rows %}
{% endblock %}


{% block javascript %}
<script src="{% static 'admin/publicaciones/list.js' %}"></script>

{% endblock %}