{% extends 'back/list.html' %}
{% load static %}

{% block head_list %}
{% endblock %}


{% block columns %}

                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Sección</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
{% endblock %}

{% block rows %}
    {% for publicacion in object_list %}
        <tr>
            <th>{{ publicacion.id }}</th>
            <th>{{publicacion.name}}</th>
            <th>{{publicacion.date_created}}</th>
            <th>{{publicacion.section}}</th>
            <th>{{publicacion.category}}</th>
            <th>
                <a href="{% url 'dashboard:publicacion_delete' publicacion.id %}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Eliminar</span>
                </a>
                <a href="{% url 'dashboard:publicacion_update' publicacion.id %}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="text">Editar</span>
                </a>
            </th>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'admin/publicaciones/list.js' %}"></script> -->

{% endblock %}