{% extends 'back/components/list.html' %}
{% load static %}
{% block head_list %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->
{% endblock %}

{% block columns %}

<tr class="text-center table-header">
    
    <th  scope="col">ID</th>
    <th  scope="col">Nombre</th>
    <th  scope="col">Fecha</th>
    <th  scope="col">Sección</th>
    <th  scope="col">Categoria</th>
    <th  scope="col">Acciones</th>


{% endblock %}

{% block rows %}
{% for publicacion in object_list %}
<tr class="table-body">

    <th class="text-left tb-text">{{ publicacion.id }}</th>
    <th class="text-left tb-text">{{publicacion.name}}</th>
    <th class="text-left tb-text">{{publicacion.date_created}}</th>
    <th class="text-left tb-text">{{publicacion.section.seccion}}</th>
    <th class="text-left tb-text">{{publicacion.category.nombre_categoria}}</th>
    <th>

        <a href="{% url 'dashboard:publicacion_delete' publicacion.id %}" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">Eliminar</span>
        </a>

        <a href="{% url 'dashboard:publicacion_update' publicacion.id %}" class="btn btn-primary btn-icon-split">

            <span class="icon text-white-50">
                <i class="fas fa-edit"></i>
            </span>

            <span class="text">Editar</span>

        </a>

    </th>

</tr>

{% endfor %}
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'admin/publicaciones/list.js' %}"></script> -->

{% endblock %}