{% extends 'web/index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'web/css/baner.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'web/css/nabar-portal.css' %}">
<style>
  .encuesta {
        height: 60px;
        width: 180px;
        background-image: linear-gradient(140.57deg, #ED4C02 0%, #FB8A55 100%);
        position: fixed;
        top: 20%;
        left: 0;
        /* Set 'right' instead of 'left' */
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 999;
        border-radius: 0 10px 10px 0;
        gap: 10px;
        box-shadow: -12px 15px 18px -3px rgba(0, 0, 0, 0.1);
        padding: 10px;
        color: #DEE2E6;
        opacity: 0;
        /* Set initial opacity to 0 */
        animation: slide-in 1.2s ease-out forwards;
        /* Apply animation */
    }

    .encuesta a {
        color: #DEE2E6;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
    @keyframes slide-in {
        0% {
            transform: translateX(-100%);
            /* Start from the left */
            opacity: 0;
            /* Start with 0 opacity */
        }

        100% {
            transform: translateX(0%);
            /* Move to the original position */
            opacity: 1;
            /* Fully visible */
        }
    }
</style>
  {% block head_view %}
  {% endblock %}
{% endblock %}
{% block body %}


<!-- Header -->
{% include 'web/components/social_media_stiky/social_media_stiky.html' %}
{% if encuesta %}
        <div class="encuesta">
            <a
                target="_blank"
                href="{{encuesta.url}}">
                Encuesta disponible da click aquí.
            </a>
        </div>

    {% else %}

{% endif %}
{% include 'web/components/navbar_new/navbar_new.html' %}
<!-- Page Content -->
<div class="container">
  {% block content %}

  {% endblock %}

</div>

<!-- Footer -->
{% include 'web/components/footer/footer_new.html' %}
</div>
<!-- Block javascript -->
{% block javascript %}

{% endblock %}
<script>
</script>
{% endblock %}