{% load static %}
<footer class="text-center text-lg-start text-white " style="background-color: #1c2331">
    <section class="mt-5">
      <div class="container text-center text-md-start mt-5 pt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">OTEG</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis unde quidem commodi voluptates placeat
              dolorem delectus ipsum, culpa impedit! Mollitia laborum praesentium provident voluptas eum, perferendis
              dolorem hic aliquam atque!
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">INDICADORES</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="#!" class="text-white">Indicadore 1</a>
            </p>
            <p>
              <a href="#!" class="text-white">Indicadore 2</a>
            </p>
            <p>
              <a href="#!" class="text-white">Indicadore 3</a>
            </p>
            <p>
              <a href="#!" class="text-white">Indicadore 4</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Publicaciones</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="#!" class="text-white">Publicacion 1</a>
            </p>
            <p>
              <a href="#!" class="text-white">Publicacion 2</a>
            </p>
            <p>
              <a href="#!" class="text-white">Publicacion 3</a>
            </p>
            <p>
              <a href="#!" class="text-white">Publicacion 4</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">EVENTOS Y ACTIVIDADES</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><i class="fas fa-home mr-3"></i> INFORMACIÓN TURÍSTICA</p>
            <p><i class="fas fa-envelope mr-3"></i> SOLICITUDES</p>
            <p><i class="fas fa-phone mr-3"></i>PROTOCOLO ALBA</p>
            <p><i class="fas fa-print mr-3"></i>PREGUNTAS FRECUENTES</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright: Purpura Analytics
    </div>
    
  </footer>