{% load static %}
<header class="">
    <nav class="navbar navbar-expand-lg justify-content-center" data-bs-theme="dark" style="background-color: #1c2331">
      <div class="collapse navbar-collapse jtext-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'oteg' %}">OTEG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Indicadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://guanajuato.mx/">Información turistica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'solicitudes' %}">Solicitudes</a>
          </li>
          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard:publicacion_list' %}">Panel Admin</a>
          </li>

          {%else%}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'login_user' %}">Log In</a>
          </li>
          {% endif %}


        </ul>
      </div>
    </nav>
  </header>