{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>OTEG |</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'librerias/bootstrap/css/bootstrap.min.css' %}">

  <!-- Block head style -->
  {% block head %}

  {% endblock %}

</head>

<body>

  {% block body %}

  {% endblock %}

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="{% static 'librerias/jquery/jquery.min.js' %}"></script> -->
  <script src="{% static 'librerias/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>