{% extends 'web/body.html' %}
{% load static %}


<!-- contenido -->
{% block content %}

<div class="row pl-5 pr-5 pt-5 pb-5">
    <div class="col-lg-12 mt-5 text-center">
        <h3>Segmentos MICE</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum laudantium impedit, labore dolores dolorum voluptatibus accusantium debitis voluptas velit ratione molestiae nulla cum, voluptate temporibus aperiam rem dolore est eaque.</p>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/48/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 1</h5>
         </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/46/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 2</h5>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/47/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 3</h5>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/38/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 4</h5>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/39/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 5</h5>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/40/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 6</h5>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/41/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 7</h5>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/42/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 8</h5>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/id/43/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporte 9</h5>
          </div>
      </div>
    </div>
  </div>


{% endblock %}