{% load static %}

<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">
            <span>Redes Sociales:</span>
        </div>

        <div style="display: flex; gap: 1rem;">
            <div>
                <a class="link-secondary" href="https://www.facebook.com/observatoriotgto/">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
            </div>
            <div>
                <a class="link-secondary" href="https://twitter.com/ObservaTur_GTO">
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
            </div>


        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        OTEG
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quae perferendis doloribus ducimus
                        vero quos voluptatibus, eos praesentium, quidem, architecto quo? Ab quidem itaque optio ipsam
                        accusamus, deserunt cumque adipisci!
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Indicadores
                    </h6>
                    <p>
                        <a href="#!" class="text-reset"> Pacto Centro Occidente</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"> Indicadores Nacionales</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"> Tablero de control</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"> - Gestión de destinos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"> - Economía Inclusiva</a>
                    </p>

                    <p>
                        <a href="#!" class="text-reset"> - Sociedad y cultura</a>
                    </p>

                    <p>
                        <a href="#!" class="text-reset"> - Medio ambiente</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        PUBLICACIONES
                    </h6>
                    <p>
                        <a href="{%url 'perfil_visistante_ciudad' 1 %}" class="text-reset">Perfil de Visitante a
                            Ciudad</a>
                    </p>
                    <p>
                        <a href="{%url 'perfil_visistante_ciudad' 2 %}" class="text-reset">Perfil de Visitante a
                            Evento</a>
                    </p>
                    <p>
                        <a href="{%url 'perfil_visistante_ciudad' 3 %}" class="text-reset">Marco Normativo de
                            Turismo</a>
                    </p>
                    <p>
                        <a href="{%url 'noticias_turisticas' %}" class="text-reset">Noticias Turísticas</a>
                    </p>
                    <p>
                        <a href="{%url 'sustentabilidad' %}" class="text-reset">Sustentabilidad</a>
                    </p>
                    <p>
                        <a href="{% url 'reportes_mensuales'%}" class="text-reset">Reportes Mensuales</a>
                    </p>
                    <p>
                        <a href="{%url 'barometro-turistico' %}" class="text-reset">Barómetro Turístico</a>
                    </p>
                    <p>
                        <a href="{%url 'perfil_visistante_ciudad' 8 %}" class="text-reset">Ponencias de Eventos</a>
                    </p>
                    <p>
                        <a href="{%url 'perfil_visistante_ciudad' 9 %}" class="text-reset">Revista OTEG</a>
                    </p>
                    <p>
                        <a href="{%url 'perfil_visistante_ciudad' 11 %}" class="text-reset">Segmentos Turísticos</a>
                    </p>
                    <!-- <p>
                        <a href="#!" class="text-reset">Inventario Turístico</a>
                    </p> -->
                    <p>
                        <a href="{%url 'perfil_visistante_ciudad' 10 %}" class="text-reset">Otras Publicaciones</a>
                    </p>

                    <p>
                        <a href="{%url 'noticias_turisticas' %}" class="text-reset">Glosario</a>
                    </p>

                    <div id="sections"></div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->


                    <a style="text-decoration: none; " href="https://guanajuato.mx/">
                        <h6 class="text-uppercase fw-bold mb-4">INFORMACIÓN TURÍSTICA</h6>
                    </a>
                    <h6 class="text-uppercase fw-bold mb-4">Solicitudes</h6>
                    <h6 class="text-uppercase fw-bold mb-4">Eventos y Actividades</h6>
                    <p>
                        <a href="#!" class="text-reset"> - internacionales</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"> - Nacionales</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"> - Inventario Turístico</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"> - Estatales</a>
                    </p>

                    <a style="text-decoration: none; " href="{% url 'protocolo_alba' %}">
                        <h6 class="text-uppercase fw-bold mb-4">Protocolo Alba</h6>
                    </a>
                    <h6 class="text-uppercase fw-bold mb-4">Glosario</h6>
                    <a style="text-decoration: none; " href="{% url 'preguntasf' %}">
                        <h6 class="text-uppercase fw-bold mb-4">Preguntas frecuentes</h6>
                    </a>
                    <a style="text-decoration: none; " href="{% url 'sitios_interes' %}">
                        <h6 class="text-uppercase fw-bold mb-4">Sitios de interés</h6>
                    </a>
                    <a style="text-decoration: none; " href="{% url 'pueblos_magicos' %}">
                        <h6 class="text-uppercase fw-bold mb-4">Pueblos Magicos</h6>
                    </a>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>


    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="">Purpura Analytics</a>
    </div>

    {% block footer %}{% endblock %}
</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {
        $.ajax({
            url: '{% url "dashboard:get_sections" %}',
            data: { q: '' },

            success: function (data) {
                var html = '';
                var containerHeight = $('#sections').height();
                var rowHeight = 0;
                var rowHtml = '<div class="row">';

                for (var i = 0; i < data.length; i++) {
                    var url = '{% url "publicaciones_secciones" pk=1 %}'.replace('1', data[i].id);

                    var itemHtml = '<p><a href="' + url + '" class="text-reset">' + data[i].titulo + '</a></p>';
                    //var itemHtml = '<p><a href ="" class="text-reset">' + data[i].titulo + '</a></p>';

                    $('#sections').append(itemHtml);
                }
            }
        });
    });

</script>