{% extends 'web/body.html' %}
{% load static %}
{% block head_view %}
<style>
  .album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.album-photo {
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.album-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-photo:hover {
  transform: scale(1.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

</style>
  {% endblock %}

<!-- contenido -->
{% block content %}

<div class="row pl-5 pr-5 pt-5 pb-5">
    <div class="col-lg-12 mt-5 text-center">
        <h3>ENIOT MEMORIAS</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum laudantium impedit, labore dolores dolorum
            voluptatibus accusantium debitis voluptas velit ratione molestiae nulla cum, voluptate temporibus aperiam
            rem dolore est eaque.</p>
    </div>
</div>

<div class="col">
{% if albums %}
    {% for album in albums %}
    <div style="
                width: 100%;
                height: 40px;
                background-image: linear-gradient(140.57deg, #ED4C02 0%, #FB8A55 100%);
                color: #fff;
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 20px;
                border-radius: 5px;
                box-shadow: -12px 15px 18px -3px rgba(0, 0, 0, 0.1);
            ">
            <h2 style="
                    font-family: Montserrat;
                    font-size: 20px;
                    line-height: 29px;
                    font-weight: 600;
                    text-align: left;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 0;
                
                " class="truncate">Álbum: {{ album }}</h2>

        </div>
        <div class="album-container">
          {% for foto in fotos %}
            {% if album == foto.nombreAlbun %}
              <div class="album-photo">
                <img src="https://portal-oteg.s3.amazonaws.com/media/{{ foto.foto_url }}" alt="" srcset="">
              </div>
            {% endif %}
          {% endfor %}
        </div>
    {% endfor %}
{% else %}
  <p>No hay álbumes de fotos disponibles.</p>
{% endif %}
</div>
<script>
  // Asegúrate de incluir este script después de cargar jQuery
  
  $(document).ready(function() {
    $('.album-photo').click(function() {
      $(this).toggleClass('enlarged');
    });
  });
  </script>










<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

</script>
</div>



{% endblock %}