{% extends 'back/components/list.html' %}
{% load static %}

{% block head_list %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->
{% endblock %}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

{% block columns %}
<tr class="text-center table-header">
    <th class="text-left pl-3">ID</th>  
    <th class="text-left hidden-t">Año</th>
    <th class="text-center hidden-t">Destino</th>
    <th style="width: 300px;">
        Participación de visitantes internacionales
    <th style="width: 300px;">
        Participación de visitantes nacionales
    <th style="width: 300px;">
        Participación de visitantes estatales
    <th class="actions">Acciones</th>
</tr>
{% endblock %}

{% block rows %}
{% for e in object_list %}
<tr class="text-center table-body mt-2">
    <th class="text-left tb-text">{{e.id}}</th>
    <th class="text-left tb-text">{{e.ano}}</th>
    <th class="text-left tb-text">{{e.destino}}</th>
    <th class="text-left tb-text">{{e.part_visitantes_int}}</th>
    <th class="text-left tb-text">{{e.part_visitantes_nac}}</th>
    <th class="text-left tb-text">{{e.part_visitantes_est}}</th>
    <th style="
    position: relative;
    background-color: #ECF0F1;
    text-align: center;
    height: 100%;
    ">

    <div
    class="icon-container2"
    >


        <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="location.href='{% url 'dashboard:fuente_info_origen_update' e.id %}'">
            <i class="far fa-edit"></i>
        </button>
        <form method="post" action="{% url 'dashboard:fuente_info_origen_delete' e.id %}" >
            {% csrf_token %}
            <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="return confirm('¿Está seguro de que desea eliminar la informacion?');">
                <i class="fas fa-trash"></i>
            </button>
        </form>
    </div>
    </th>
</tr>
{% endfor %}
{% endblock %}