{% extends 'web/body.html' %}
{% load static %}

{% block head_view %}
<!-- Agregar archivos CSS y JavaScript de SweetAlert2 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.userway.org/widget.js" data-account="EUDLJPWVtf"></script>


<style>
    #calendar {
        max-width: 1100px;
        margin: 40px auto;
        padding: 0 10px;
    }
    .search-result {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        background-color: white;
        border: 1px solid #ddd;
        overflow: auto;
    }

    .search-result p {
        margin: 0;
        font-weight: bold;
        font-size: 14px;
    }
    .legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.legend-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend span {
  font-family: Montserrat;
  font-size: 14px;
  color: #333333;
}

    .fc-button-primary {
  background-image: linear-gradient(140.57deg, #ED4C02 0%, #ED4C02 100%);
  border: none;
  color: #ffffff;
}

.fc-button-primary:hover {
  background-image: linear-gradient(140.57deg, #ED4C02 0%, #ED4C02 100%);
}

/* Estilos personalizados para aumentar el ancho de la alerta */
.custom-popup-class .swal2-popup {
        width: 80%;
        max-width: 800px; /* Puedes ajustar este valor según tus necesidades */
        font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
    }

    /* Estilos para aumentar el tamaño de fuente de la card */
    .custom-popup-class .swal2-popup .swal2-content {
        font-size: 18px; /* Ajusta el tamaño de fuente del contenido según tus preferencias */
    }
/* Estilos para el modal */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }

  #modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
  }

  #modal-image {
    width: 100%;
  height: 200px; /* Ajusta el alto de la imagen como desees */
  object-fit: cover; /* Para mostrar la imagen como portada */
  border-radius: 5px;
  }

  /* Estilos para el botón de cerrar */
  #modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    }
/* Estilos para hacer el modal responsive */
@media screen and (max-width: 768px) {
  #modal-content {
    max-width: 100%;
  }
}
/* Estilos personalizados para aumentar el ancho de la alerta */
.custom-popup-class .swal2-popup {
        width: 80%;
        max-width: 800px; /* Puedes ajustar este valor según tus necesidades */
        font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
    }

    /* Estilos para aumentar el tamaño de fuente de la descripción */
    .custom-popup-class .modal-description {
        font-size: 18px; /* Ajusta el tamaño de fuente del contenido según tus preferencias */
        line-height: 1.6; /* Ajusta el espaciado entre líneas según tus preferencias */
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>


<script>
    
    document.addEventListener('DOMContentLoaded', function () {
    var initialLocaleCode = 'es';
    var localeSelectorEl = document.getElementById('locale-selector');
    var calendarEl = document.getElementById('calendar');
    let fechaActual = new Date().toISOString().slice(0, 10);

    // Define the colors for each event type
    
    let coloresPorTipo = {
        'internacionales': '#FF1493',
        'nacionales': '#00BFFF',
        'estatales': '#5ED506', 
    };

    // Fetch the events data from the server and render them in the calendar

    $(document).ready(function () {
        fetch('{% url "eventos-list1" %}')
            .then(response => response.json())
            .then(data => {
                let eventos = data.map(element => ({
                    title: element.titulo,
                    start: element.fecha_inicio,
                    end: element.fecha_fin,
                    descripcion: element.descripcion,
                    tipo_evento: element.tipo_evento.toLowerCase(),
                    imagen: element.imagen
                }));

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    initialDate: fechaActual,
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    titleFormat: {
                        year: 'numeric',
                        month: 'long',
                    },
                    buttonText: {
                        month: 'Mes',
                        week: 'Semana',
                        day: 'Día',
                        today: 'Hoy'
                    },
                    locale: initialLocaleCode,
                    events: eventos,
                    eventContent: function (info) {
                        let tipoEvento = info.event.extendedProps.tipo_evento;
                        let backgroundColor = coloresPorTipo[tipoEvento] || coloresPorTipo.otro; // Use the default color if the event type is not defined
                        
                        return {
                            html: `<div style="background-color:${backgroundColor}; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">${info.event.title}</div>`
                        };
                    },
                    // Agregar evento de clic en el evento
                    eventClick: function(info) {
                        // Obtener información del evento
                        var title = info.event.title;
                        var start = info.event.start;
                        var end = info.event.end;
                        var descripcion = info.event.extendedProps.descripcion;
                        var tipoEvento = info.event.extendedProps.tipo_evento;
                        var imagen = info.event.extendedProps.imagen;

                        // Mostrar el modal
                        var modalContainer = document.getElementById('modal-container');
                        var modalTitle = document.getElementById('modal-title');
                        var modalImage = document.getElementById('modal-image');
                        var modalDescription = document.getElementById('modal-description');
                        var modalStartDate = document.getElementById('modal-start-date');
                        var modalEndDate = document.getElementById('modal-end-date');
                        var modalEventType = document.getElementById('modal-event-type');

                        modalTitle.textContent = title;
                        modalImage.src = imagen || ''; // Si no hay imagen, dejar src vacío

                        // Limpiamos el contenido anterior y creamos un nuevo elemento
                        modalDescription.innerHTML = '';
                        var descripcionElement = document.createElement('div');
                        descripcionElement.innerHTML = descripcion; // Utilizamos la función para mostrar solo el texto sin etiquetas HTML
                        modalDescription.appendChild(descripcionElement);

                        modalStartDate.textContent = 'Fecha de inicio: ' + start.toLocaleDateString();
                        // Mostrar la fecha de fin si está disponible, de lo contrario, mostrar solo la fecha de inicio
                        modalEndDate.textContent = end ? 'Fecha de fin: ' + end.toLocaleDateString() : 'Fecha de inicio: ' + start.toLocaleDateString();
                        modalEventType.textContent = 'Tipo de evento: ' + tipoEvento;

                        modalContainer.style.display = 'block';
                    },
                    viewDidMount: function(info) {
                        updateCalendarHeader();
                    },
                    datesSet: function (info) {
                        updateCalendarHeader();
                    }
                });

                // Add legend for event types
                
                $("#search-results").append(legend);
                var legend = $("<div>").addClass("legend");

                for (var tipoEvento in coloresPorTipo) {
                var div = $("<div>").addClass("legend-item");
                var color = coloresPorTipo[tipoEvento];
                var span = $("<span>").text(tipoEvento.charAt(0).toUpperCase() + tipoEvento.slice(1));
                var circulo = $("<div>").addClass("legend-circle").css("background-color", color);
                div.append(circulo);
                div.append(span);
                legend.append(div);
                }

                $(".legend-container").append(legend);

                function updateCalendarHeader() {
                    var headerEl = calendarEl.querySelector('.fc-toolbar-chunk h2');
                    var currentDate = calendar.view.currentStart;
                    var monthName = currentDate.toLocaleString(initialLocaleCode, { month: 'long' });
                    var formattedMonth = monthName.charAt(0).toUpperCase() + monthName.slice(1);
                    var year = currentDate.getFullYear();

                    headerEl.textContent = formattedMonth + ' ' + year;
                }

                calendar.render();
            })
            .catch(error => {
                // console.log('Error:', error);
            });
    });
    // Agregar evento de clic en el botón de cerrar del modal
    var modalContainer = document.getElementById('modal-container');
    var modalCloseBtn = document.getElementById('modal-close-btn');
    
    modalCloseBtn.addEventListener('click', function() {
      modalContainer.style.display = 'none';
    });
});

</script>
{% endblock %}

<!-- contenido -->
{% block content %}
<div class="row row-cols-1 row-cols-md-1 mt-5">
    <div class="col mt-5">
        <div id="search-results" class="legend-container"></div>
        <div id='calendar'></div>

    </div>
</div>
<div id="modal-container">
    <div id="modal-content">
      <!-- Agrega el botón de cerrar con el icono de "x" -->
      <span id="modal-close-btn">&times;</span>
      <!-- Resto del contenido del modal -->
      <h3 id="modal-title"></h3>
      <div id="modal-image-container">
        <img id="modal-image" alt="Evento">
      </div>
      <div id="modal-description"></div>
      <p id="modal-start-date"></p>
      <p id="modal-end-date"></p>
      <p id="modal-event-type"></p>
    </div>
  </div>
{% endblock %}