{% extends 'web/body.html' %}
{% load static %}

{% block head %}
<!-- Agregar archivos CSS y JavaScript de SweetAlert2 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>


<style>
    #calendar {
        max-width: 1100px;
        margin: 40px auto;
        padding: 0 10px;
    }
    .search-result {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        background-color: white;
        border: 1px solid #ddd;
        overflow: auto;
    }

    .search-result p {
        margin: 0;
        font-weight: bold;
        font-size: 14px;
    }
    .legend-item {
        border: 1px solid black;
        padding: 5px;
    }
    .legend-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const placeId = "ChIJh4Wp5Ad0K4QRs0g-pR_tlCk";
    const apiKey = "AIzaSyDxCZ1EwE67LjQ77VT--XdDC4iY9X1ddAw";

    const url = `https://maps.googleapis.com/maps/api/place/details/json?place_id=${placeId}&key=${apiKey}`;

    var config = {
    method: 'get',
    url: url,
    headers: {
        'Access-Control-Allow-Origin': '*'
     }
    };

    axios(config)
    .then(function (response) {
    console.log("response: ",JSON.stringify(response.data));
    })
    .catch(function (error) {
    console.log("Error: ",error);
    });
    const address = "Antigua Casa Bram / Apartamento Mineral de Plata, Guanajuato, México";

    const url1 = `https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=${apiKey}`;

    axios.get(url1)
    .then(response => {
        if (response.data.results.length > 0) {
        const placeId = response.data.results[0].place_id;
        console.log("Place ID: ", placeId);
        } else {
        console.log("No se encontraron resultados");
        }
    })
    .catch(error => {
        console.log("Error: ", error);
    });


    document.addEventListener('DOMContentLoaded', function () {
    var initialLocaleCode = 'es';
    var localeSelectorEl = document.getElementById('locale-selector');
    var calendarEl = document.getElementById('calendar');
    let fechaActual = new Date().toISOString().slice(0, 10);

    // Define the colors for each event type
    let coloresPorTipo = {
        'internacionales': '#FF5733',
        'nacionales': '#6A5ACD',
        'estatales': '#00CED1', // Add a default color for any other event type
    };

    // Fetch the events data from the server and render them in the calendar
    $(document).ready(function () {
        fetch('{% url "eventos-list1" %}')
            .then(response => response.json())
            .then(data => {
                let eventos = data.map(element => ({
                    title: element.titulo,
                    start: element.fecha_inicio,
                    end: element.fecha_fin,
                    descripcion: element.descripcion,
                    tipo_evento: element.tipo_evento.toLowerCase()
                }));

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    initialDate: fechaActual,
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    locale: initialLocaleCode,
                    events: eventos,
                    eventContent: function (info) {
                        let tipoEvento = info.event.extendedProps.tipo_evento;
                        let backgroundColor = coloresPorTipo[tipoEvento] || coloresPorTipo.otro; // Use the default color if the event type is not defined
                        
                        return {
                            html: `<div style="background-color:${backgroundColor};">${info.event.title}</div>`
                        };
                    },
                    // Agregar evento de clic en el evento
                    eventClick: function(info) {
                        // Obtener información del evento
                        var title = info.event.title;
                        var start = info.event.start;
                        var end = info.event.end;
                        var descripcion = info.event.extendedProps.descripcion;
                        var tipoEvento = info.event.extendedProps.tipo_evento;

                        // Crear mensaje de alerta personalizado
                        var mensaje = "<p>Título del evento: " + title + "</p>" +
                                    "<p>descripcion: " + descripcion + "</p>" +
                                    "<p>Fecha de inicio: " + start.toLocaleDateString() + "</p>" +
                                    "<p>Fecha de fin: " + end.toLocaleDateString() + "</p>" +
                                    "<p>Tipo de evento: " + tipoEvento + "</p>";

                        // Mostrar alerta personalizado usando SweetAlert2
                        Swal.fire({
                            title: 'Detalles del evento',
                            html: mensaje,
                            icon: 'info',
                            confirmButtonText: 'Cerrar',
                            confirmButtonColor: '#6A5ACD',
                        });
                    }


                });

                // Add legend for event types
                var legend = $("<div>").addClass("legend");
                for (var tipoEvento in coloresPorTipo) {
                    var div = $("<div>").addClass("legend-item");
                    var color = coloresPorTipo[tipoEvento];
                    var span = $("<span>").text(tipoEvento.charAt(0).toUpperCase() + tipoEvento.slice(1));
                    var circulo = $("<div>").addClass("legend-circle").css("background-color", color);
                    // div.append($("<div>").addClass("legend-color").css({"background-color": color, "border": "1px solid " + color}));
                    div.append(circulo);
                    div.append(span);
                    legend.append(div);
                }
                $("#search-results").append(legend);

                calendar.render();
            })
            .catch(error => {
                // console.log('Error:', error);
            });
    });
});


</script>
{% endblock %}

<!-- contenido -->
{% block content %}
<div class="row row-cols-1 row-cols-md-1 mt-5">
    <div class="col mt-5">
        <div id='calendar'></div>
        <div id="search-results" style="display: flex; "></div>
    </div>
</div>

{% endblock %}