
{% load static %}

<link rel="stylesheet" href="{% static 'librerias/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet"
    href="{% static 'librerias/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}" />

<p>El dato que intenta ingresar ya existe en la base de datos. ¿Desea reemplazar el dato actual con el nuevo dato?</p>


<div style="overflow-x: auto;">
    <h4>Dato Histórico</h4>
    <table class="table table-bordered" id="dataTable" style="table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 300px;">Destino</th>
                <th style="width: 300px;">Museo Zona Arqueológica</th>
                <th style="width: 300px;">Fecha</th>
                <th style="width: 300px;">Origen Visitante</th>
                
                <th style="width: 300px;">Visitantes</th>
                <th style="width: 300px;">tipo</th>
       
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
            <tr>
                
                <td>{{ data.destino }}</td>
                <td>{{ data.museo_zona_arqueologica }}</td>
                <td>{{ data.fecha }}</td>
                <td>{{ data.origen_visitante }}</td>
                <td>{{ data.visitantes }}</td>
                <td>{{ data.tipo }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Dato que se intento subir</h4>

    <table class="table table-bordered" id="dataTable" style="table-layout: fixed;">
        <thead>
            <tr>
                
                <th style="width: 300px;">Destino</th>
                <th style="width: 300px;">Museo Zona Arqueológica</th>
                <th style="width: 300px;">Fecha</th>
                <th style="width: 300px;">Origen Visitante</th>
                <th style="width: 300px;">Visitantes</th>
                <th style="width: 300px;">tipo</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for data in data_list2 %}
                <td>{{ data }}</td>
                <!-- ... -->
                {% endfor %}

            </tr>
        </tbody>
    </table>



</div>