{% extends 'back/index.html' %}

{% block content %}
<h1>Carga masiva</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Cargar archivo</button>
    <a href="{% url 'dashboard:inventario_hotelero_list' %}" class="btn btn-outline-danger">Cancelar</a>
</form>


{% if errores %}
<div class="alert alert-danger mt-3">
    <ul>
        {% for error in errores %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if registros_incorrectos %}
      <div class="alert alert-danger mt-3">
        <p>{{ registros_incorrectos|length }} de {{ registros_totales|length }} registros incorrectos</p>
        <!-- <a href="{{ url_de_descarga_del_archivo }}" class="btn btn-primary">Descargar archivo Excel</a> -->
        <!-- <a href="{{ request.path }}?descargar_excel=1" class="btn btn-primary">Descargar archivo Excel</a> -->
        <a href="{% url 'dashboard:inventario_hotelero_ent_nac_carga_masiva' %}?descargar_archivo=1" class="btn btn-primary">Descargar archivo de errores</a>

      </div>
    {% endif %}

    {% if registros_correctos %}
      <div class="alert alert-success mt-3">
        <h4>Se guardaron las siguientes filas:</h4>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Destino</th>
              <th>Fecha</th>
              <th>Categoría</th>
              <th>Habitaciones</th>
              <th>Establecimientos</th>
            </tr>
          </thead>
          <tbody>
            {% for registro in registros_correctos %}
              <tr>
                <td>{{ registro.destino }}</td>
                <td>{{ registro.fecha }}</td>
                <td>{{ registro.categoria }}</td>
                <td>{{ registro.habitaciones }}</td>
                <td>{{ registro.establecimientos }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
{% if registros_existentes %}
<div class="alert alert-warning mt-3">
    <h4>Las siguientes filas ya existían en la base de datos y no se guardaron:</h4>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Destino</th>
            <th>Fecha</th>
            <th>Categoría</th>
            <th>Habitaciones</th>
            <th>Establecimientos</th>
          </tr>
        </thead>
        <tbody>
          {% for registro in registros_existentes %}
            <tr>
              <td>{{ registro.destino }}</td>
              <td>{{ registro.fecha }}</td>
              <td>{{ registro.categoria }}</td>
              <td>{{ registro.habitaciones }}</td>
              <td>{{ registro.establecimientos }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endif %}
{% endblock %}