{% extends 'back/components/list.html' %}
{% load static %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->

{% block columns %}

<tr>
    <th scope="col" style="width: 20%;">Nombre</th>
    <th scope="col" style="width: 20%;">No. de Descargas</th>
    <th scope="col" style="width: 20%;">Sección</th>
    <th scope="col" style="width: 20%;">Categoría</th>
    <th scope="col" style="width: 20%;">Archivo</th>
</tr>

{% endblock %}

{% block rows %}
{% for e in object_list %}

<tr>
    <th class="text-left tb-text">
        {% if e.nombrePDF %}
        {{e.nombrePDF}}</th>
    {% else %}
    {{e.name}}</th>
    {% endif %}
    <th class="text-left tb-text">{{e.num_descargas}}</th>
    <th class="text-left tb-text">
        {% if e.section %}
        {{e.section.seccion}}
        {% else %}
        <span>BarometroTuristico</span>
        {% endif %}
    </th>
    <th class="text-left tb-text">
        {{e.definicion}}

        {% if e.category %}
        {{e.category.nombre_categoria}}
        {% else %}
        Año :{{e.yearPDF}}, Semestre :{{e.semestre}}
        {% endif %}

    </th>

    <th class="text-left tb-text">
        {% if e.doc %}


            {% if e.type %}

            {% if e.type == '1' %}
                <a href="{% url 'pdf_back' pk=e.id %}">
                    Descargar
                </a>

            {% elif e.type == '2' %}        

                <a href="{% url 'audio_download' pk=e.id %}">
                    Descargar
                </a>

            {% elif e.type == '3' %}
                <a href="{% url 'excel_download' pk=e.id %}">
                    Descargar
                </a>
            {% endif %}

            {% else %}

            <a href="{% url 'pdf_back' pk=e.id %}">
                Descargar
            </a>
            {% endif %}

        {% else %}

        {% endif %}
    </th>

</tr>

{% endfor %}
{% endblock %}