{% extends 'back/components/list.html' %}
{% load static %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->

{% block columns %}

<tr class="text-center table-header">
    <th scope="col" style="width: 20%;">Nombre</th>
    <th scope="col" style="width: 20%;">No. de Descargas</th>
    <th scope="col" style="width: 20%;">Sección</th>
    <th scope="col" style="width: 20%;">Categoría</th>
    <th scope="col" style="width: 20%;">Archivo</th>
</tr>

{% endblock %}

{% block rows %}
{% for e in object_list %}

<tr>
    <th class="text-left tb-text">
        {% if e.nombrePDF %}
        {{e.nombrePDF}}</th>
    {% elif e.name %}
    {{e.name}}
    {% else %}
    {{e.titulo}}
    {% endif %}
    </th>


    <th class="text-left tb-text">{{e.num_descargas}}</th>

    <th class="text-left tb-text">
        {% if e.section %}
        {{e.section.seccion}}
        {% elif e.nombrePDF %}
        BarometroTuristico
        {% else %}
        Boletines Mensuales
        {% endif %}
    </th>

    <th class="text-left tb-text">
        {{e.definicion}}

        {% if e.category %}
        {{e.category.nombre_categoria}}
        {% else %}
        {{e.yearPDF}}
        {% endif %}

    </th>

    <th class="text-center" style="
    position: relative;
    background-color: #ECF0F1;
    text-align: center;
    height: 100%;">

        <div style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
            {% if e.doc %}

            {% if e.type %}

            {% if e.type == '1' %}
            <a class='fas fa-download' style="
        color: #747373;
        font-size: 20px;

        " href="{% url 'pdf_back' pk=e.id %}">

            </a>

            {% elif e.type == '2' %}

            <a class='fas fa-download' style="
        color: #747373;
        font-size: 20px;

        " href="{% url 'audio_download' pk=e.id %}">

            </a>

            {% elif e.type == '3' %}
            <a class='fas fa-download' style="
        color: #747373;
        font-size: 20px;

        " href="{% url 'excel_download' pk=e.id %}">

            </a>
            {% endif %}

            {% else %}

            {% if e.mes %}

            <a class='fas fa-download' style="
        color: #747373;
        font-size: 20px;

        " href="{% url 'reporte_mensual_download' pk=e.id %}"> </a>
            {% else %}

            <a class='fas fa-download' style="
        color: #747373;
        font-size: 20px;

        " href="{% url 'pdfDownload_Bar' pk=e.id %}">

            </a>

            {% endif %}




            {% endif %}

            {% else %}

            {% endif %}
        </div>
    </th>

</tr>

{% endfor %}
{% endblock %}