{% extends 'back/index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="card shadow mb-4">
    <form method="post" enctype="multipart/form-data">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
            {{edit_msg}}
        </div>

        <div class="card-body">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {{ form.as_p }}
        </div>
        <div class="card-footer">

            <button type="submit" class="btn btn-primary ">
                <i class="fas fa-save"></i> Guardar
            </button>

            <div id="baker" class="btn btn-danger ">
                <i class="fas fa-times"></i> Cancelar
            </div>
        </div>
    </form>


</div>

{% endblock %}


{% block javascript %}
<script type="application/javascript">
    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                processData: false,
                contentType: false,
                dataType: 'json'
            }).done(function (data) {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Buen trabajo!',
                        text: 'Operación exitosa.',
                        timer: 2000,
                        showConfirmButton: false
                    }).then(function () {
                        window.location.href = '{{ list_url }}';
                    });
                } else {
                    var errors = '';


                    if (data.missingData) {


                        if (data.categoria && data.destino) {
                            var htmdata = 'Los siguientes campos no se encuentran en el catalogo de datos revisa tu escritura: <br> ' + 'Categoria: ' + data.categoria + '<br>' + 'Destino: ' + data.destino
                        } else if (data.categoria) {
                            var htmdata = 'Los siguientes campos no se encuentran en el catalogo de datos revisa tu escritura: <br> ' + 'Categoria: ' + data.categoria
                        } else if (data.destino) {
                            var htmdata = 'Los siguientes campos no se encuentran en el catalogo de datos revisa tu escritura: <br> ' + 'Destino: ' + data.destino
                        }

                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            html: htmdata,
                            width: '95%',
                            showCancelButton: true,
                            confirmButtonText: 'Agregar los Nuevos Campos a los Catalogos',
                        }).then((result) => {
                            if (result.isConfirmed) {

                                parameters.append('catalog', 'on');

                                $.ajax({
                                    url: window.location.pathname,
                                    type: 'POST',
                                    data: parameters,
                                    processData: false,
                                    contentType: false,
                                    dataType: 'json'
                                })

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Buen trabajo!',
                                    text: 'Operación exitosa.',
                                    timer: 2000,
                                    showConfirmButton: false
                                }).then(function () {
                                    window.location.href = '{{ list_url }}';
                                });

                                v


                            } else if (result.isDenied) {
                                window.location.href = '{{ list_url }}';
                            }
                        })

                        return;
                    } else if (data.format_errors) {
                        for (var field in data.errors) {
                            errors += data.errors[field].join('\n');
                        }

                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: errors
                        });
                        return;

                    }


                    var existing_object = data.existing_object;


                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        html: existing_object,
                        width: '95%',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Reemplazar el dato actual con el nuevo dato',
                        denyButtonText: `Conservar el dato actual`,
                    }).then((result) => {
                        if (result.isConfirmed) {

                            parameters.append('replace_data', 'on');

                            $.ajax({
                                url: window.location.pathname,
                                type: 'POST',
                                data: parameters,

                                processData: false,
                                contentType: false,
                                dataType: 'json'
                            })
                            window.location.href = '{{ list_url }}'
                        } else if (result.isDenied) {
                            window.location.href = '{{ list_url }}';
                        }
                    })
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        });
    });

    $('#baker').on('click', function (e) {
        e.preventDefault();
        Swal.fire({
            title: '¿Está seguro de cancelar la operación?',
            text: 'Los datos no guardados se perderán.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, cancelar',
            cancelButtonText: 'No, seguir aquí',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '{{ list_url }}';
            }
        });
    });     confirmButtonText: 'Sí, cancelar',
            cancelButtonText: 'No, seguir aquí',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '{{ list_url }}';
            }
        });
    });
</script>
{% endblock %}