{% extends 'back/components/list.html' %}
{% load static %}
{% block head_list %}
<!-- <script src="{% static 'admin/banner/list.js' %}"></script> -->
{% endblock %}

{% block columns %}
<tr class="text-center table-header">
    <th class="text-left pl-3">N°</th>
    <th  class="text-left pl-3">Nombre del Álbum</th>
    <th  class="text-left pl-3">Descripción</th>
    <th  class="text-left pl-3">Foto URL</th>
    <th class="text-center" style="
            position: relative;
            background-color: #ECF0F1;
            text-align: center;
            height: 100%;
        ">Acciones</th>
        </tr>
   
{% endblock %}

{% block rows %}
{% for e in object_list %}
<tr>
    <th class="text-left tb-text">{{e.id}}</th>
    <th  class="text-left tb-text">{{e.nombreAlbun}}</th>
    <th  class="text-left tb-text">{{e.descripcion}}</th>
    <th  class="text-left tb-text"><a href="https://portal-oteg.s3.amazonaws.com/media/{{e.foto_url}}">{{e.foto_url}}</a></th>
   

    <th class="text-center" style="position: relative; background-color: #ECF0F1; text-align: center; height: 100%;">
        <div class="icon-container">
            <i class="fas fa-edit" onclick="location.href='{% url 'dashboard:eniot_fotos_update' e.id %}'"></i>
                    <form method="post" action="{% url 'dashboard:eniot_fotos_delete' e.id %}" >
                        {% csrf_token %}
                        <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="return confirm('¿Está seguro de que desea eliminar la informacion?');">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
        
        </div>
    </th>
</tr>
{% endfor %}
{% endblock %}
