.container-sidebar{
    width: auto;
    position: relative;
    display: inline-block;
    margin-left: 60px;
  }
  .container-sidebar2{
    width: auto;
    height: auto;
    left: 0px;
    position: absolute
  }

  .title-container {
    height: 65px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.title {
    color: #4A4A4A;
    font-family: 'Avenir-aeh';
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.title2 {
    color: #4A4A4A;
    font-family: 'Avenir-aeh';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5;
}

.container-fluid-footer{
  margin-top: 20px!important;
  padding: 10px;
  background-color: #ECF0F1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: auto;
  font-family: 'Avenir-Medium';
  font-size: 16px;
  

}

@media screen and (max-width: 768px) {
  .container-footer{
      padding-left:80px;
      text-align: center;
  }
}


/* principal */
.content-inner{
  width: 100%;
  margin-left: 5%;
  
  background-color: #FAFBFE;
  position: relative;
}
.inner-header{
  width: auto; 
  height: auto; 

  margin-left: 350px;  
  top: 0px!important;
  padding-right: 2rem;
  background-color: #FAFBFE;
}
.inner-c{
  width: auto; 
  height: auto; 
  min-height: 84vh;
  margin-left: 350px;  
  top: 0px!important;
  padding-right: 2rem;
  background-color: #FAFBFE;
}
.inner-footer{
width: 100%; 

margin-top: 20px!important;
}


.dropped{
  transition: 1s;
  margin-left: 70px; 
}
.dropped-footer{
  transition: 1s;
}
.container-sidebar{
  width: auto;
  position: relative;
  display: inline-block;
  margin-left: 60px;
}
.container-sidebar2{
  width: auto;
  height: auto;
  left: 0px;
  position: absolute
}
@media screen and (max-width: 768px) {
  .inner-c {
    margin-left: 65px;
    min-height: 97vh; 
    height: auto;
    padding-right: 1rem;
  }
  .inner-header{
    margin-left: 65px;
    height: auto;
    padding-right: 1rem;
  }
  

}
/* breadcrumb */
.breadcrumb-container{
  display: flex;
  background-color: #ECF0F1;
  width: 100%;
  height: 25px;
  font-size: 12px;
  padding-right: 80px;
}



:host ::ng-deep #bread .p-breadcrumb{
  color: #4A4A4A!important;
 
} 
:host ::ng-deep #bread .p-breadcrumb li{
margin-left: 5px;
} 
:host ::ng-deep #bread .p-breadcrumb a{
color: #4A4A4A!important;
} 
:host ::ng-deep #bread .p-breadcrumb a:hover{
color: #0A3D5F!important;
} 
/* fin breadcrumb */