{% extends 'web/body.html' %}
{% load static %}
{% block head_view %}
<!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->

<script src="path-to-your-script.js"></script>
<style>
 .card-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px; /* Ajusta el valor según el espacio deseado */
  padding-bottom: 10px; /* Ajusta el valor según el espacio deseado */
  border-bottom: 2px solid #FB8A55;
  width: 100%;

}
 .card-title-v2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px; /* Ajusta el valor según el espacio deseado */
  padding-bottom: 10px; /* Ajusta el valor según el espacio deseado */
  
}

.card-text {
  text-align: justify;
}

.tittle-v1 {
  font-weight: bold;

  
}
.mf-pf{
    margin-top: 25px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;;
}
.mt-6{
    margin-top: 35px !important;
}

.btn-orange{
    background-color: #ff9800;
    font-weight: bold;
    color:white;
}
.btn-orange:hover{
    background-color: #e68900;
}

.full-width-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; 
}

.centrar-enlace {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  text-align: center; 
  font-size: 1em;
}

@media (max-width: 719px) {
    #insto-link::after {
        content: "Más información";
        display: inline;
    }

    #insto-link span {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 992px) {
    #insto-link::after {
        content: "Haga click aquí para obtener más información";
        display: inline;
    }

    #insto-link span {
        display: none;
    }
}



</style>
{% endblock %}

<!-- contenido -->
{% block content %}

<div class="row pl-5 pr-5 pt-5 pb-5">
    <div class="col-lg-12 col-12 mt-5 mf-pf">
        <h3 class="card-title">¿ QUÉ ES EL OBSERVATORIO TURÍSTICO DEL ESTADO DE GUANAJUATO ?</h3>
        <p>Es un espacio de análisis, técnico, intersectorial e interdisciplinario bajo el cual un grupo de personas y/o
            entidades se agrupan y organizan con el propósito de vigilar, medir y verificar la evolución del sector
            turismo en el Estado de Guanajuato.</p>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">MISIÓN</h5>
                <p class="card-text">Ser un organismo multidisciplinario, enfocado a la identificación, análisis,
                    interpretación y evaluación de los resultados de la actividad turística, a través de indicadores que
                    permitan mejorar la competitividad del sector, con un enfoque de sostenibilidad e inclusión social
                    que ayude a la toma de decisiones.<br><br></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">VISIÓN</h5>
                <p class="card-text">Consolidarnos como el organismo de referencia nacional e internacional que sirve de
                    guía a los actores del Sector Turístico, gestionando
                    el conocimiento de esta actividad y que genera los indicadores claves que inciden en la
                    recuperación, competitividad y desarrollo
                    turístico sostenible del Estado de Guanajuato.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="mt-6">
            <div class="">
                <h5 class="card-title-v2">¿QUIÉNES LO INTEGRAN?</h5>

                <div id="svg-container" style="width: 100%; height: auto;">
                    <embed src="{% static 'images/fuentes_informacion/Organigrama-v8.svg' %}" type="image/svg+xml"
       onload="handleSVGLoad()" style="width: 100%; height: auto;"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">OBJETIVOS</h5>
                <ul>
                    <li>Jerarquizar las demandas y necesidades de los ciudadanos.</li>
                    <li>Orientar las actividades de los servidores públicos.</li>
                    <li>Facilitar la toma de decisiones.</li>
                    <li>Generar el diseño de la propia política de desarrollo del sector turismo.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">¿EN DÓNDE INCIDE?</h5>
                <ul>
                    <li>Políticas públicas.</li>
                    <li>Metodologías y herramientas técnicas.</li>
                    <li>Transparencia.</li>
                    <li>Medición de resultados.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">FUNCIONES</h5>
                <ul>
                    <li>Genera información adecuada y consensuada, que permita definir el actuar del sector.</li>
                    <li>Pone al alcance de la sociedad la información relativa al fenómeno en estudio, atendiendo a
                        criterios metodológicos, técnicos y de transparencia.</li>
                    <li>Promueve mecanismos e instrumentos dirigidos a conocer las demandas de los ciudadanos.</li>
                    <li>Construye sistemas de información técnica que permitan la generación, homologación y
                        estandarización de indicadores en materia de turismo, además de facilitar su uso y consulta.
                    </li>
                    <li>Construye un tablero de control como mecanismo permanente de medición y monitoreo en aspectos
                        prioritarios del tema</li>
                    <li>Genera conocimiento útil a través de estudios e investigaciones respecto al sector turístico
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">COMISIONES DE TRABAJO</h5>
                <ul>
                    <li>Comisión de Publicaciones y Glosarios: Vigila que la información que se publica sea seria,
                        correcta, útil y permanente.</li>
                    <li>Comisión de Tablero de Control y Sistema de Indicadores: Analiza los indicadores que miden la
                        actividad turística del Estado de Guanajuato.</li>

                    <li>Comisión de Portal de Internet: Vigila el correcto funcionamiento del Portal de Internet del
                        Observatorio.
                    </li>
                    <li>Comisión de Actividades Públicas, Vinculación y Relaciones Institucionales: Propone y gestiona
                        sinergias con otros observatorios, y propone la participación del Observatorio en eventos del
                        sector.</li>
                    <li>Red de Investigadores: Coadyuva en la generación de indicadores que no estén disponibles o
                        previstos por falta de información o investigación.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-12 mt-5 mf-pf">
        <h5 class="card-title">ENFOQUE INTERNACIONAL</h5>
        
        <div class="">
            <img src="{% static 'images/fuentes_informacion/datos_interancional.png' %}" alt="Imagen datos INSTO" style="width: 100%; height: auto; ">
        <a href="https://www.unwto.org/sustainable-development/unwto-international-network-of-sustainable-tourism-observatories" target="_blank">
            <img src="{% static 'images/fuentes_informacion/INSTO_2024_ES.png' %}" alt="Imagen INSTO" style="width: 100%; height: auto; ">
        </a>

        <p class="mf-pf card-text">La Red Internacional de Observatorios de Turismo Sostenible de las Naciones Unidas (INSTO)
            es una red de observatorios turísticos que monitorean el impacto económico, ambiental y social del turismo a nivel de destino. 
            La iniciativa se basa en el compromiso de larga data de Turismo de las Naciones Unidas con el crecimiento sostenible y resiliente del 
            sector a través de la medición y el seguimiento, apoyando la gestión del turismo basada en evidencia.<br></p>
        
        <p class="mf-pf card-text">Conoce los objetivos, beneficios y los Observatorios Turísticos pertenecientes a INSTO en el siguiente enlace:</p>

        <a id="insto-link" href="https://www.unwto.org/sustainable-development/unwto-international-network-of-sustainable-tourism-observatories" class="btn btn-orange centrar-enlace" target="_blank">
            <span>Haga clic aquí para más información sobre INSTO</span>
            <span style="display:none;">más información</span>
        </a>

        </div>
    </div>

</div>



<script>

function handleSVGLoad() {
    var svgEmbed = document.querySelector('embed[type="image/svg+xml"]');
    var svgDoc = svgEmbed.getSVGDocument();
    
    if (!svgDoc) {
        console.error('SVG document not loaded');
        return;
    }

    var clickableElements = svgDoc.querySelectorAll('rect, text, g');
    
    clickableElements.forEach(function(element) {
        element.addEventListener('click', function() {
            var id = element.id || element.parentNode.id;
            console.log("Clicked element ID:", id);
            
            var url = getUrlForId(id);
            if (url) {
                window.open(url, "_blank");
            }
        });

        // Optional: Add hover effect
        element.addEventListener('mouseover', function() {
            this.style.cursor = 'pointer';
            this.style.opacity = '0.8';
        });

        element.addEventListener('mouseout', function() {
            this.style.opacity = '1';
        });
    });
}

function getUrlForId(id) {
    var urlMap = {
        /* Hola, esta función fue reformulada por mi, Daniel Lugo, el proveevor (purpuraa) 
        realizó otras adaptaciones porque el archivo SVG del organigrama era otro y la verdad tanto desarrolladores como diseñador(es) hicieron algo menos practico para lectura, espero que estas adecuaciones sirvan.
        primero rehice el diseño del organigrama en FIGMA y después realicé esta adaptacion
        por eso cada renglon del directorio tiene el identificador.
        Al final voy al código del SVG y en cada etiqueta "<rect>" le agrego un atributo id 
            con cada uno, posterior me baso en el identificador que tiene en el atributo Fill en el SVG
            y le doy al atributo id el valor del siguiente directorio
        Espero te sirva... :3*/
        "sectursecre": "https://sectur.guanajuato.gob.mx/",            /* #pattern3_90_2 -> Sectur Secre Tecnico*/
        "secturpresi": "https://sectur.guanajuato.gob.mx/",            /* #pattern4_90_2 -> SECTUR Presidente*/
        "sectursuplente": "https://sectur.guanajuato.gob.mx/",         /* #pattern5_90_2 -> Sectur Presi Suplente*/
        "atnag": "https://atnag.com/",                                 /* #pattern6_90_2 -> ATNAG */
        "canaco": "https://canacoguanajuato.com/",                     /* #pattern7_90_2 -> CANACO */
        "manchon": "https://enoturismo.cavasmanchon.com/",             /* #pattern8_90_2 -> Manchon */ 
        "lovely": "https://www.lovely-planners.com/",                  /* #pattern9_90_2 -> LovelyPlanner */
        "atuceg": "https://atuceg.experienciasmx.travel/#/",           /* #pattern10_90_2 -> ATUSEG */
        "amhm": "https://www.amhm.org/",                               /* #pattern11_90_2 -> Moteles y Hoteles */
        "grupoflecha": "https://www.conectagfa.com.mx/#es/principal",  /* #pattern12_90_2 -> Grupo Flecha Amarilla*/
        "inegi": "https://www.inegi.org.mx/",                          /* #pattern13_90_2 -> INEGI*/
        "poliforum": "https://www.poliforumleon.com.mx/",              /* #pattern14_90_2 -> Poliforum*/
        "aeropuerto": "https://www.aeropuertosgap.com.mx/es/",         /* #pattern15_90_2 -> Aeropuerto */ 
        "cultura": "https://cultura.guanajuato.gob.mx/",               /* #pattern16_90_2 -> CULTURA */
        "iplaneg": "https://iplaneg.guanajuato.gob.mx/",               /* #pattern17_90_2 -> IPLANEG*/
        "medioambiente": "https://smaot.guanajuato.gob.mx/sitio/",     /* #pattern18_90_2 -> MedioAmbiente*/
        "economia": "https://sde.guanajuato.gob.mx/sdes/",             /* #pattern19_90_2 -> Economia */
        "subdisca": "https://ingudis.guanajuato.gob.mx/",              /* #pattern20_90_2 -> SubseDiscapacidad*/
        "enes": "https://enes.unam.mx/",                               /* #pattern21_90_2 -> ENES*/
        "ucelaya": "https://www.udec.edu.mx/",                         /* #pattern22_90_2 -> UCelaya*/
        "uguanajuato": "https://www.ugto.mx/",                         /* #pattern23_90_2  -> UniversidaddeGuanajuato*/
        "lasalle": "https://www.lasallebajio.edu.mx/",                 /* #pattern24_90_2 -> LaSalle*/
        "utsma": "https://www.utsma.edu.mx/",                          /* #pattern25_90_2 -> UTSMA*/
        "ustafe": "https://www.usf.com.mx/"                            /* #pattern26_90_2  -> UStaFe*/
        // Aquí puedes ir agregando los demás directorios que gustes.
    };

    return urlMap[id] || null;
}

// No need for window.addEventListener('load', ...) as we're using the onload attribute
</script>

{% endblock %}