{% extends 'web/body.html' %}
{% load static %}


<!-- contenido -->
{% block content %}

<div class="row pl-5 pr-5 pt-5 pb-5">
    <div class="col-lg-12 mt-5">
        <h3>¿ QUÉ ES EL OBSERVATORIO TURÍSTICO DEL ESTADO DE GUANAJUATO ?</h3>
        <p>Es un espacio de análisis, técnico, intersectorial e interdisciplinario bajo el cual un grupo de personas y/o
            entidades se agrupan y organizan con el propósito de vigilar, medir y verificar la evolución del sector
            turismo en el Estado de Guanajuato.</p>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">MISIÓN</h5>
                <p class="card-text">Ser un organismo multidisciplinario, enfocado a la identificación, análisis,
                    interpretación y evaluación de los resultados de la actividad turística, a través de indicadores que
                    permitan mejorar la competitividad del sector, con un enfoque de sostenibilidad e inclusión social
                    que ayude a la toma de decisiones.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">VISIÓN</h5>
                <p class="card-text">Consolidarnos como el organismo de referencia nacional e internacional que sirve de
                    guía a los actores del Sector Turístico, gestionando
                    el conocimiento de esta actividad y que genera los indicadores claves que inciden en la
                    recuperación, competitividad y desarrollo
                    turístico sostenible del Estado de Guanajuato.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="">
            <div class="">
                <h5 class="">¿QUIÉNES LO INTEGRAN?</h5>
                <div id="svg-container" style="width: 100%; height: auto;">
                    <embed src="{% static 'images/fuentes_informacion/Organigrama.svg' %}" type="image/svg+xml"
                        onload="handleSVGLoad()" style="width: 100%; height: auto;"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">OBJETIVOS</h5>
                <ul>
                    <li>Jerarquizar las demandas y necesidades de los ciudadanos.</li>
                    <li>Orientar las actividades de los servidores públicos.</li>
                    <li>Facilitar la toma de decisiones y,</li>
                    <li>Generar el diseño de la propia política de desarrollo del sector turismo.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">¿EN DÓNDE INCIDE?</h5>
                <ul>
                    <li>Políticas públicas.</li>
                    <li>Metodologías y herramientas técnicas.</li>
                    <li>Transparencia.</li>
                    <li>Medición de resultados.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">FUNCIONES</h5>
                <ul>
                    <li>Genera información adecuada y consensuada, que permita definir el actuar del sector.</li>
                    <li>Pone al alcance de la sociedad la información relativa al fenómeno en estudio, atendiendo a
                        criterios metodológicos, técnicos y de transparencia.</li>
                    <li>Promueve mecanismos e instrumentos dirigidos a conocer las demandas de los ciudadanos.</li>
                    <li>Construye sistemas de información técnica que permitan la generación, homologación y
                        estandarización de indicadores en materia de turismo, además de facilitar su uso y consulta.
                    </li>
                    <li>Construye un tablero de control como mecanismo permanente de medición y monitoreo en aspectos
                        prioritarios del tema</li>
                    <li>Genera conocimiento útil a través de estudios e investigaciones respecto al sector turístico
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="card-oteg">
            <div class="card-body">
                <h5 class="card-title">COMISIONES DE TRABAJO</h5>
                <ul>
                    <li>Comisión de Publicaciones y Glosarios: Vigila que la información que se publica sea seria,
                        correcta, útil y permanente.</li>
                    <li>Comisión de Tablero de Control y Sistema de Indicadores: Analiza los indicadores que miden la
                        actividad turística del Estado de Guanajuato.</li>

                    <li>Comisión de Portal de Internet: Vigila el correcto funcionamiento del Portal de Internet del
                        Observatorio.
                    </li>
                    <li>Comisión de Actividades Públicas, Vinculación y Relaciones Públicas: Propone y gestiona
                        sinergias con otros observatorios, y propone la participación del Observatorio en eventos del
                        sector.</li>
                    <li>Red de Investigadores: Coadyuva en la generación de indicadores que no estén disponibles o
                        previstos por falta de información o investigación.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    function handleSVGLoad() {
        var svgDocument = document.querySelector("#svg-container embed").getSVGDocument();
        var ellipses = svgDocument.querySelectorAll("ellipse");
        var rects = svgDocument.querySelectorAll("rect");
        var texts = svgDocument.querySelectorAll("text");

        ellipses.forEach(function (ellipse) {
            ellipse.addEventListener("click", function () {
                console.log("Se hizo clic en el elemento <ellipse>:", ellipse.id);
                if (ellipse.id === "Ellipse_14") {
                    window.location.href = "https://www.lasallebajio.edu.mx/";
                }
                else if (ellipse.id === "Ellipse_8") {
                    window.location.href = "https://www.uii.edu.mx/";
                }
                else if (ellipse.id === "Ellipse_10") {
                    window.location.href = "https://www.udec.edu.mx/";
                }
                else if (ellipse.id === "Ellipse_12") {
                    window.location.href = "https://www.ugto.mx/";
                }
                else if (ellipse.id === "Ellipse_16") {
                    window.location.href = "https://www.utsma.edu.mx/";
                }
                else if (ellipse.id === "Ellipse_18") {
                    window.location.href = "https://www.inegi.org.mx/";
                }
                else if (ellipse.id === "Ellipse_20") {
                    window.location.href = "https://iplaneg.guanajuato.gob.mx/";
                }
                else if (ellipse.id === "Ellipse_22") {
                    window.location.href = "https://sde.guanajuato.gob.mx/sdes/";
                }
                else if (ellipse.id === "Ellipse_24") {
                    window.location.href = "https://sde.guanajuato.gob.mx/sdes/";
                }
                else if (ellipse.id === "Ellipse_26") {
                    window.location.href = "https://smaot.guanajuato.gob.mx/sitio/";
                }
                else if (ellipse.id === "Ellipse_28") {
                    window.location.href = "http://www.escondidoplace.com/aguas-termales-san-miguel-de-allende/";
                }
                else if (ellipse.id === "Ellipse_30") {
                    window.location.href = "https://www.amhm.org/";
                }
                else if (ellipse.id === "Ellipse_32") {
                    window.location.href = "https://www.lasallebajio.edu.mx/";
                }
                else if (ellipse.id === "Ellipse_34") {
                    // window.location.href = "https://www.lasallebajio.edu.mx/";
                    console.log("Grupo_Flecha_Amarilla-2")
                }
                else if (ellipse.id === "Ellipse_36") {
                    window.location.href = "https://www.poliforumleon.com.mx/";
                }
                else if (ellipse.id === "Ellipse_40") {
                    window.location.href = "https://canacoguanajuato.com/";
                }
                else if (ellipse.id === "Ellipse_42") {
                    window.location.href = "https://guanajuato.mx/romance/";
                }
                else if (ellipse.id === "Ellipse_44") {
                    window.location.href = "https://sectur.guanajuato.gob.mx/";
                }
            });
        });

        rects.forEach(function (rect) {
            rect.addEventListener("click", function () {
                console.log("Se hizo clic en el elemento <rect>:", rect.id);
                // Realizar acciones adicionales para <rect>
                if (rect.id === "Universidad_de_la_Salle_Bajío") {
                    window.location.href = "https://www.lasallebajio.edu.mx/";
                }
                else if (rect.id === "Instituto_Irapuato") {
                    window.location.href = "https://www.uii.edu.mx/";
                }
                else if (rect.id === "Universidad_de_celaya-2") {
                    window.location.href = "https://www.udec.edu.mx/";
                }
                else if (rect.id === "Universidad_de_Guanajuato-2") {
                    window.location.href = "https://www.ugto.mx/";
                }
                else if (rect.id === "Universidad_tecnológica_de_SMA") {
                    window.location.href = "https://www.utsma.edu.mx/";
                }
                else if (rect.id === "INEGI-2") {
                    window.location.href = "https://www.inegi.org.mx/";
                }
                else if (rect.id === "Instituto_de_planeación_del_Estado_de_Guanajuato") {
                    window.location.href = "https://iplaneg.guanajuato.gob.mx/";
                }
                else if (rect.id === "Instituto_Estatal_de_Cultura-2") {
                    window.location.href = "https://cultura.guanajuato.gob.mx/";
                }
                else if (rect.id === "Secretaria_de_Desarrollo_Económico_Sustentable") {
                    window.location.href = "https://sde.guanajuato.gob.mx/sdes/";
                }
                else if (rect.id === "Secretaria_de_Medio_Ambiente_y_Ordenamiento_Territorial") {
                    window.location.href = "https://smaot.guanajuato.gob.mx/sitio/";
                }
                else if (rect.id === "Escondido_Place-2") {
                    window.location.href = "http://www.escondidoplace.com/aguas-termales-san-miguel-de-allende/";
                }
                else if (rect.id === "Asociación_de_empresarios_de_Turismo_del_Estado_de_Guanajuato") {
                    window.location.href = "https://atuceg.experienciasmx.travel/#/";
                }
                else if (rect.id === "Asociación_Mexicana_de_Hoteles_de_León") {
                    window.location.href = "https://www.amhm.org/";
                }
                else if (rect.id === "Poliforum_León") {
                    window.location.href = "https://www.poliforumleon.com.mx/";
                }
                else if (rect.id === "Asoc._De_Turismo_de_Naturaleza_y_Aventura_de_Guanajuato-2") {
                    window.location.href = "https://atnag.com/";
                }
                else if (rect.id === "Representante_del_Segmento_de_Romance-2") {
                    window.location.href = "https://guanajuato.mx/romance/";
                }
                else if (rect.id === "SECTUR") {
                    window.location.href = "https://sectur.guanajuato.gob.mx/";
                }
            });
        });

        texts.forEach(function (text) {
            text.addEventListener("click", function () {
                console.log("Se hizo clic en el elemento <text>:", text.id);
                if (text.id === "Universidad_De_La_Salle_Bajío") {
                    window.location.href = "https://www.lasallebajio.edu.mx/";
                }
                else if (text.id === "Insituto_Irapuato") {
                    window.location.href = "https://www.uii.edu.mx/";
                }
                else if (text.id === "Universidad_de_celaya") {
                    window.location.href = "https://www.lasallebajio.edu.mx/";
                }
                else if (text.id === "Universidad_de_Guanajuato") {
                    window.location.href = "https://www.ugto.mx/";
                }
                else if (text.id === "Universidad_Tecnológica_De_SMA") {
                    window.location.href = "https://www.utsma.edu.mx/";
                }
                else if (text.id === "INEGI") {
                    window.location.href = "https://www.inegi.org.mx/";
                }
                else if (text.id === "Instituto_de_Planeación_del_Estado_de_Guanajuato") {
                    window.location.href = "https://iplaneg.guanajuato.gob.mx/";
                }
                else if (text.id === "Instituto_Estatal_de_Cultura") {
                    window.location.href = "https://cultura.guanajuato.gob.mx/";
                }
                else if (text.id === "Secretaría_de_Desarrollo_Económico_Sustentable") {
                    window.location.href = "https://sde.guanajuato.gob.mx/sdes/";
                }
                else if (text.id === "Secretaría_de_Medio_Ambiente_y_Ordenamiento_Territorial") {
                    window.location.href = "https://smaot.guanajuato.gob.mx/sitio/";
                }
                else if (text.id === "Escondido_Place") {
                    window.location.href = "http://www.escondidoplace.com/aguas-termales-san-miguel-de-allende/";
                }
                else if (text.id === "Asoc._De_Empresarios_de_Turismo_Cultural_del_Estado_de_Guanajuato") {
                    window.location.href = "https://atuceg.experienciasmx.travel/#/";
                }
                else if (text.id === "Asociación_Mexicana_de_Hoteles_De_León") {
                    window.location.href = "https://www.amhm.org/";
                }
                else if (text.id === "Grupo_Flecha_Amarilla-2") {
                    // window.location.href = "https://www.lasallebajio.edu.mx/";
                    console.log("Grupo_Flecha_Amarilla-2")
                }
                else if (text.id === "Poliforum_León") {
                    window.location.href = "https://www.poliforumleon.com.mx/";
                }
                else if (text.id === "Asoc._De_Turismo_de_Naturaleza_y_Aventura_de_Guanajuato") {
                    window.location.href = "https://atnag.com/";
                }
                else if (text.id === "Cámara_Nacional_de_Comercio") {
                    window.location.href = "https://canacoguanajuato.com/";
                }
                else if (text.id === "Representante_del_Segmento_de_Romance") {
                    window.location.href = "https://guanajuato.mx/romance/";
                }
                else if (text.id === "Secretario_Técnico_Dirección_de_Información_y_Análisis_SECTUR") {
                    window.location.href = "https://sectur.guanajuato.gob.mx/";
                }
            });
        });
    }
</script>

{% endblock %}