{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.min.css' %}">

{% include 'web/header.html' %}

<section class=" container mt-4">
    <h2 >Noticias Turísticas</h2>
    <h4 class="text-muted" >Publicaciones Recientes</h4>
    {% include 'web/components/slider_noticias/slider_noticias.html' %}


    <h3 class="text-muted mt-5" >Todas las Noticias</h3>
    <form id="search-form" class="d-flex mt-5" role="search">
        <input type="date" class="form-control me-2" name="year" placeholder="">
        <input type="text" class="form-control me-2" name="q" placeholder="Buscar por Nombre ">

        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>

    
    <div id="search-results" style="display: flex; "></div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '{% url "search_noticias" %}',
                data: { q: '' },
                
                success: function (data) {
                    var html = '';
                    var containerHeight = $('#search-results').height();
                    var rowHeight = 0;
                    var rowHtml = '<div class="row">';

                    for (var i = 0; i < data.length; i++) {
                        var url = '{% url "notica_viewer" pk=1 %}'.replace('1', data[i].id);
                        var itemHtml = '<div class="col-md-2 mb-2 ">' +
                            '<div style="width:10rem; height:10rem; display: flex; flex-direction: column;  justify-content: center; align-items: center; margin-right:15rem;">' +
                            '<a href="' + url + '">' +
                            '<i style="font-size: 4rem; cursor: pointer;align-self:flex-end;"class="fa-solid fa-file"></i>' +
                            '</a>' + '<p style="font-size: 10px; text-align: center;">' + data[i].titulo + '</p>' +
                            '<p style="font-size: 8px; text-align: center; margin:0;">' +"Publicado el " + data[i].fecha_registro + '</p>' +
                            '</div>' +
                            '</div>';

                        rowHtml += itemHtml;
                        rowHeight = Math.max(rowHeight, $(itemHtml).height());

                        if (rowHeight > containerHeight) {
                            // Add the current row to the HTML and start a new one
                            html += rowHtml + '</div>';
                            rowHtml = '<div class="row">';
                            rowHeight = $(itemHtml).height();
                        }
                    }

                    // Add any remaining items to the last row
                    if (rowHtml !== '<div class="row">') {
                        html += rowHtml + '</div>';
                    }

                    $('#search-results').html(html);
                }
            });

            $('#search-form').on('submit', function (event) {
                event.preventDefault();
                var query = $(this).find('input[name="q"]').val();
                
                var year = $(this).find('input[name="year"]').val();
        
                $.ajax({
                    url: '{% url "search_noticias" %}',
                    data: { q: query, year: year },
                    success: function (data) {
                
                        var html = '';
                        var containerHeight = $('#search-results').height();
                        var rowHeight = 0;
                        var rowHtml = '<div class="row">';

                        for (var i = 0; i < data.length; i++) {
                            var url = '{% url "notica_viewer" pk=1 %}'.replace('1', data[i].id);
                            var itemHtml = '<div class="col-md-3 mb-3">' +
                                '<div style="width:10rem; height:10rem; display: flex; flex-direction: column;  justify-content: center; align-items: center; margin-right:30px;">' +
                                    '<a href="' + url + '">' +
                                '<i style="font-size: 4rem; cursor: pointer;align-self:flex-end;"class="fa-solid fa-file"></i>' +
                                '</a>' +
                                '<p style="font-size: 10px; text-align: center;">' + data[i].titulo + '</p>' +
                                '<p style="font-size: 8px; text-align: center; margin:0;">' +"Publicado el " + data[i].fecha_registro + '</p>' +
                                '</div>' +
                                '</div>';

                            rowHtml += itemHtml;
                            rowHeight = Math.max(rowHeight, $(itemHtml).height());

                            if (rowHeight > containerHeight) {
                                // Add the current row to the HTML and start a new one
                                html += rowHtml + '</div>';
                                rowHtml = '<div class="row">';
                                rowHeight = $(itemHtml).height();
                            }
                        }

                        // Add any remaining items to the last row
                        if (rowHtml !== '<div class="row">') {
                            html += rowHtml + '</div>';
                        }

                        $('#search-results').html(html);
                    }
                });
            });
        });
    </script>

{% include 'web/components/glosario/glosario.html' %}


{% include 'web/components/footer/footer.html' %}