{% extends 'web/body.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_view %}
<!-- Sweetalert2 -->
<script src="{% static 'librerias/sweetalert2-11.7.1/sweetalert2.all.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


<script src="{% static 'admin/js/functions.js' %}"></script>
<style>
  .card-s {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    flex-shrink: 0;
    padding: 20px;
    border-bottom: 1px solid #eee;
    background-image: linear-gradient(140.57deg, #ED4C02 0%, #FB8A55 100%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
  }

  .card-body {
    flex-grow: 1;
    padding: 20px;
  }

  .card-footer {
    flex-shrink: 0;
    padding: 20px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: center;
    /* Cambiamos a "center" para centrar el contenido horizontalmente */
    align-items: center;
  }

  /* Estilos de los inputs */
  .form-group label {
    font-weight: bold;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    font-size: 14px;
  }

  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group textarea:focus {
    border-color: #FAC412;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(250, 196, 18, 0.1);
  }

  /* Estilos de la alerta de éxito */
  .alert {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #d4edda;
    border-radius: 4px;
    color: #155724;
    background-color: #d4edda;
  }

  .alert h5 {
    margin-top: 0;
  }

  .alert p {
    margin-bottom: 0;
  }

  /* Estilos del botón */
  .btn-primary-no-icon {
    background-color: #FFFFFF;
    border: 1px solid #F97B26;
    border-radius: 25px;
    width: 184px;
    height: 50px;
  }

  .btn-primary-no-icon:hover {
    background-color: #F97B26;
  }

  .contact-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .input-text {
    background-color: #FFFFFF !important;
    border: 1px solid #D2DAE2 !important;
    border-radius: 10px !important;
    /* width: 225px; */
    height: 46px !important;
  }

  .text-area-f {
    background-color: #FFFFFF !important;
    border: 1px solid #D2DAE2 !important;
    border-radius: 10px !important;
    /* width: 470px; */
    height: 300px !important;
  }

  .card-lisa {
    background-color: #FFFFFF;
    border: 1px solid #F97B26;
    border-radius: 15px;
    /* width: 550px; */
    height: auto;
    padding: 60px;
  }

  .contactanos {
    color: #333333;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 34px;
    /* width: 450px; */
    font-weight: bold;
    text-align: center;
  }

  .si-requires-informac {
    color: #576D99;
    font-family: Poppins;
    font-size: 13px;
    letter-spacing: 0.26px;
    line-height: 22px;
    text-align: center;
  }

  .mtb-5 {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .mt-5 {
    margin-top: 60px
  }

  .mb-2 {
    margin-bottom: 30px;
  }
</style>
{% endblock %}


<!-- contenido -->
{% block content %}


<form method="post" action="" enctype="multipart/form-data">
  <div class="card-lisa shadow mb-4 mt-5">
    <div class="mtb-5">
      <p class="contactanos">¡Contáctanos!</p>
      <p class="si-requires-informac">Si requieres información detallada de algún tema en específico.</p>
    </div>
    <div class="">
      {% csrf_token %}
      <input type="hidden" name="action">
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
        <ul>
          {% for field in form.visible_fields %}
          {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="{{ form.email.id_for_label }}">{{ form.email.label }}{% if form.email.field.required %}<span
              class="text-danger">*</span>{% endif %}</label>
          {{ form.email|add_class:'input-text' }}
        </div>
        <div class="form-group col-md-6">
          <label for="id_country">País{% if form.country.field.required %}<span class="text-danger">*</span>{% endif%}</label>
          <select class="form-control input-text" id="id_country" name="{{ form.country.html_name }}" required>
            {% for value, label in form.country.field.choices %}
            <option value="{{ value }}" {% if form.country.value == value %}selected="selected"{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-12">
          <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}{% if form.subject.field.required %}<span
              class="text-danger">*</span>{% endif %}</label>
          {{ form.subject|add_class:'input-text' }}
        </div>
        <div class="form-group col-md-12">
          <label for="{{ form.message.id_for_label }}">{{ form.message.label }}{% if form.message.field.required %}<span
              class="text-danger">*</span>{% endif %}</label>
          {{ form.message|add_class:'text-area-f' }}
        </div>
      </div>
      <p class="mb-2">* Campos obligatorios</p>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary-no-icon">Enviar</button>
    </div>
  </div>
</form>



{% endblock %}
{% block javascript %}
<script>
  $(function () {
    $('form').on('submit', function (e) {
      e.preventDefault();
      var parameters = new FormData(this);
      console.log("Parameters: ", parameters)
      submit_with_ajaxV2(window.location.pathname, 'Notificación', '¿Estás seguro de enviar la solicitud?', parameters, function () {
        Swal.fire({
          title: 'Notificación',
          text: 'Hemos recibido tu solicitud y se ha enviado un correo electrónico con la información que buscas.',
          icon: 'success',
          timer: 10000,
          onClose: () => {
            
          }
        }).then((result) => {
          location.href = '/solicitudes/';
        });
      });
    });
  });
</script>
{% endblock %}