{% extends 'back/list.html' %}

{% load static %}


{% block head_list %}
{% endblock %}

{% block columns %}
    <tr class="text-center table-header">
        <th class="text-left pl-3">N°</th>
        <th class="text-center hidden-t">Tipo</th>
        <th class="text-center hidden-t">Nombre</th>
        <th class="actions">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for e in object_list %}
        <tr class="text-center table-body mt-2">
            <th class="text-left pl-3">{{ e.id }}</th>
            <th class="text-center hidden-t">{{e.tipo}}</th>
            <th class="text-center hidden-t">{{e.nombre}}</th>
            <th class="actions-container">
                <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="location.href='{% url 'dashboard:catalogo_za_museos_update' e.id %}'">
                    <i class="far fa-eye"></i>
                </button>
                <form method="post" action="{% url 'dashboard:catalogo_za_museos_delete' e.id %}" >
                    {% csrf_token %}
                    <button class="ml-1 mr-1 actions-btn" tooltip="Consultar" flow="down" onclick="return confirm('¿Está seguro de que desea eliminar la informacion?');">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </th>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'admin/sitios-interes/list.js' %}"></script> -->

{% endblock %}