table {
    width: 100%;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #ECF0F1;
    font-family: avenir;
    font-size: 14px;
    color: #4A4A4A;

}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}

.table-header {
    background: #ECF0F1;
    height: 40px;
    color: #4A4A4A;
    font-size: 14px;
}


.table-body {
    border: 1px;
    border-color: #ECF0F1;
    border-style: solid;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 10px;
}

.actions-container {
    background: #ECF0F1 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.actions-btn {
    border: none;
    height: 29px;
    width: 29px;
    color: #979797;
    background: #ECF0F1;
    padding: 0px !important;
    margin: 0px !important;

}

.img-table {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center top;
}

.hr-container {
    padding-left: 0px;
    padding-right: 0px;
}

.pagination-container {
    position: relative;
}

.providers-count {
    position: absolute;
    top: 0;
    right: 0;
    color: #4A4A4A;
    font-family: Avenir-Medium;
    font-size: 14px;
    font-weight: 600;
}

.tr-space {
    height: 10px;
}

.hr-filter {
    border-color: #5999E4;
}