table {
    width: 100%;
}

.table-header {
    background: #ECF0F1; height: 40px; color: #4A4A4A; font-size: 14px; font-family: 'Avenir-Medium';
}

.actions {
    width: 15%;
}

.table-body {
    border: solid 1px lightgray; color: #4A4A4A; height: 80px; font-size: 14px; font-family: 'Avenir-Medium';
}

.actions-container {
    background: #ECF0F1 !important; width: 20%;
}

.actions-btn {
    border: none; height: 29px; width: 29px; color: #979797; background: #ECF0F1;
}

.img-table {
    width: 55px; height: 55px; border-radius: 100%;
    object-fit: cover;
    object-position: center top;
}

.hr-container {
    padding-left: 0px; padding-right: 0px;
}

.pagination-container {
    position: relative;
}

.providers-count {
    position: absolute; top: 0; right: 0; color: #4A4A4A; font-family: Avenir-Medium; font-size: 14px; font-weight: 600;
}

.tr-space {
    height: 10px;
}

.hr-filter {
    border-color:#5999E4;
}